﻿.js-handler {
    display: block;
    float: right
}

.js-handler span {
    background: transparent url(../images/bullet_arrow_up.png) center center no-repeat;
    display: block;
    padding: 5px 1px;
    width: 16px;
    height: 16px
}

.js-handler .open {
    background-image: url(../images/bullet_arrow_down.png)
}

.widget_awpcp-categories .top-level-categories p.top-level-category {
    background: none;
    line-height: .8rem;
    margin-bottom: 3px;
    padding: 0;
    text-align: left
}

.widget_awpcp-categories #awpcpcatlayout .top-level-categories .sub-categories {
    margin-bottom: 0;
    margin-left: 0
}

.widget_awpcp-categories .top-level-categories .sub-categories li:before {
    content: '—';
    margin-right: 3px
}

.widget_awpcp-categories .top-level-categories .sub-categories li {
    margin-bottom: 0
}

.awpcp-page .awpcp-form-spacer {
    margin: 1px 1px 10px;
    padding: 1px
}

.awpcp-page .awpcp-form-spacer label {
    display: block
}

.awpcp-page .awpcp-form-spacer .secondary-label {
    display: inline;
    font-weight: normal
}

.awpcp-page .awpcp-form-spacer .inline {
    display: inline
}

.awpcp-page .awpcp-form-spacer .helptext {
    display: block;
    font-weight: normal;
    font-size: .9em
}

.awpcp-page .awpcp-form-spacer .hidden {
    display: none
}

.awpcp-page .awpcp-range-search label,
.awpcp-page .awpcp-date-range-search label {
    display: inline;
    font-weight: normal;
    margin-right: 2px
}

.awpcp-page .awpcp-range-search input,
.awpcp-page .awpcp-date-range-search input {
    width: 60px;
    margin-right: 5px
}

.awpcp-page .awpcp-date-range-search input {
    width: 200px
}

.awpcp-page .awpcp-payment-methods-table tr td {
    vertical-align: middle
}

.awpcp-page .awpcp-credit-plans-table {
    border-bottom: none
}

.awpcp-page .awpcp-credit-plans-table tfoot .clear-selection input {
    display: none
}

.awpcp-page .awpcp-credit-plans-table tfoot .clear-selection label {
    background: #DDD;
    display: inline-block;
    font-size: .9em;
    font-weight: normal;
    line-height: 1em;
    padding: 4px 6px
}

.awpcp-page .awpcp-credit-plans-table tfoot .clear-selection label:hover {
    background: #EEE;
    color: #000
}

.awpcp-page .awpcp-transaction-items-table .amount {
    text-align: right
}

.awpcp-page .awpcp-transaction-items-table tfoot {
    background: #EEE
}

.awpcp-page .awpcp-transaction-items-table tfoot .row-header {
    font-weight: bold;
    text-align: right
}

@media only screen and (max-width:800px) {
    .awpcp-page .awpcp-transaction-items-table tr td {
        padding-left: 30% !important
    }
}

.awpcp-page .awpcp-form-spacer .characters-left {
    background: #333;
    color: #FFF;
    display: inline-block;
    font-size: .9em;
    font-weight: normal;
    margin: 4px 0 0;
    padding: 2px 8px
}

.awpcp-page .awpcp-form-spacer-title .characters-left {
    margin-top: 0;
    margin-left: 4px
}

.awpcp-page .awpcp-form-spacer .awpcp-textarea {
    display: block
}

.awpcp-page .awpcp-delete-ad-form {
    border: 1px solid #CC0000;
    background-color: #FFEBE8;
    padding: 8px 12px
}

.awpcp-page .awpcp-delete-ad-form .confirm {
    display: none
}

.awpcp-page .awpcp-delete-ad-form span.confirm {
    font-weight: bold;
    font-style: italic
}

.awpcp-page .awpcp-preview-ad-form {
    border: 1px solid #E6DB55;
    background-color: #FFFBCC;
    padding: 8px 12px
}

.awpcp-admin-listings-place-ad .awpcp-inner-content,
.awpcp-admin-listings-edit-ad .awpcp-inner-content,
.awpcp-admin-listings-renew-ad .awpcp-inner-content {
    background: #FBFBFB;
    border: 1px solid #DFDFDF;
    padding: 8px 14px
}

.fixfloat {
    clear: both;
    display: block;
    overflow: hidden
}

#awpcpqsearch {
    background: #f2f2f2;
    padding: 5px 0 0 5px;
    margin: 10px auto 10px auto
}

#awpcpqsearch select {
    width: 112px;
    padding: 4px
}

#awpcpqsearch b {
    font-size: 12px
}

.messagedisplay {
    padding: 5px;
    background-color: #fffbcc
}

.tenpad {
    padding: 100px
}

table.listcatsh {
    width: 100%;
    padding: 0;
    border: none;
    border: 1px solid #dddddd
}

table.listcatsh td {
    background-color: #F4F4F4;
    border: none;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    vertical-align: middle
}

table.listcatsh tr.special td {
    border-bottom: 1px solid #ff0000
}

table.listcatsc {
    width: 100%;
    padding: 0;
    border: none;
    border: 1px solid #dddddd
}

table.listcatsc td {
    width: 33%;
    border: none;
    vertical-align: middle;
    padding: 5px;
    font-weight: normal
}

table.listcatsc tr.special td {
    border-bottom: 1px solid #ff0000
}

.toplevelitem {
    color: #333333;
    font-weight: bold;
    text-decoration: none
}

.toplevelitem a {
    font-weight: bold;
    color: #333333;
    text-decoration: none
}

.toplevelitem a:hover {
    font-weight: bold;
    text-decoration: none
}

.toplevelitem a:visited {
    text-decoration: none;
    color: #333333
}

.postaclassified {
    float: left
}

.postaclassified a {
    font-size: 14px;
    color: #444444
}

.scbox {
    border: 1px solid #dddddd
}

.scbutton {
    border: 1px dotted #dddddd;
    background: #cccccc;
    font-size: 14px;
    color: #444444
}

.classisearch {
    float: right
}

.uiwelcome {
    margin: 0 0 20px 0
}

#awpcp-form-spacer {
    margin: 5px 1px 1px 1px;
    padding: 1px 1px 1px 1px important
}

.awpcp-extra-field-wrapper {
    margin: 1px 1px 1px 1px;
    padding: 1px 1px 1px 1px
}

.awpcp-page ul {
    list-style: none;
    margin: 0;
    padding: 0
}

#classiwrapper form fieldset {
    margin-bottom: 20px
}

.editclassified {
    float: right
}

.headeritem {
    width: 98%;
    padding: 5px;
    font-weight: bold;
    color: #333333
}

.buywith {
    background: #eeeeee;
    border-top: 1px dotted #dddddd;
    border-bottom: 1px dotted #dddddd;
    color: #333333;
    font-weight: bold;
    font-size: medium;
    padding: 10px;
    margin-bottom: 20px
}

.classimenu1 {
    padding: 15px
}

.browseads {
    padding: 10px
}

table.displayads {
    width: 100%;
    padding: 0;
    border: none
}

table.displayads td {
    width: 33%;
    font-size: 12px;
    border: none;
    background-color: #F4F4F4;
    vertical-align: middle;
    font-weight: bold
}

table.displayads tr.special td {
    border-bottom: 1px solid #dddddd
}

table.displayads .displayadsicell {
    background: none;
    border: none;
    font-weight: normal
}

.cl-adsense {
    margin: 10px 0 10px 0;
    text-align: center;
    background: #f2f2f2;
    padding: 10px
}

.imgtransparency {
    -moz-opacity: .2;
    filter: alpha(opacity=20);
    opacity: .2
}

.awpcpwidget {
    clear: both;
    overflow: hidden
}

.awpcplatestthumb {
    background: #F2F2F2;
    margin: 5px 0;
    padding: 5px;
    float: left;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px
}

.awpcplatestthumb a {
    display: block
}

.awpcplatestthumb a span {
    display: block;
    margin: 10px
}

.awpcplatestthumb a img {
    display: block;
    max-width: 300px
}

.awpcp-login-form form {
    display: block;
    margin: 10px auto;
    width: 220px
}

.awpcp-login-form form p {
    margin-bottom: 2px
}

.awpcp-login-form form .input {
    width: 200px
}

.awpcp-login-form form .login-password {
    margin-bottom: 10px
}

.awpcp-login-form form .login-remember {
    float: left
}

.awpcp-login-form form .login-submit {
    text-align: right
}

.awpcp-login-form .nav {
    font-size: .9em;
    padding: 0;
    text-align: center
}

.itemprice .price {
    font-weight: bold;
    color: #ff0000
}

.displayadshead {
    padding: 10px
}

.displayadscellimg {
    border: 1px solid #eeeeee;
    padding: 5px
}

img.awpcpbrowseadsimg {
    width: 60px
}

.displayadscellheadline {
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee
}

.displayadscelllocation {
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee
}

.displayadscellviews {
    padding: 5px;
    border-right: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee
}

.displayadscellposted {
    padding: 5px;
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
    font-size: x-small
}

.changecategoryselect {
    float: left;
    margin-bottom: 10px;
    padding: 5px
}

.changecategoryselect .awpcp-category-dropdown-container {
    float: left
}

.awpcp-single-dropdown-category-selector-container .awpcp-category-dropdown-label {
    display: inline-block
}

.pager {
    float: right
}

.pager a {
    padding: 2px;
    border: 1px solid #cccccc
}

#awpcpcatlayout {
    width: 100%
}

#awpcpcatlayout .awpcpcatlayoutleft {
    width: 70%;
    float: left
}

#awpcpcatlayout .awpcpcatlayoutright {
    width: 25%;
    float: right;
    border-left: 1px solid #dddddd
}

#awpcpcatlayout .awpcpcatlayoutright ul {
    list-style: none;
    margin-left: 10px
}

#awpcpcatlayout .awpcpcatlayoutright ul li {
    float: left;
    list-style: none;
    margin: 0
}

#awpcpcatlayout .awpcpcatlayoutright ul li ul li {
    margin: 3px 0 3px 0;
    padding-right: 5px
}

#awpcpcatlayout .awpcpcatlayoutright span {
    font-weight: bold
}

#awpcpcatlayout ul.awpcp-region-control-sidelist li {
    float: none
}

p.maincategoryclass {
    background: #eeeeee;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 0 0 3px 0
}

.awpcp-category-icon {
    display: inline-block;
    margin: 0 4px
}

.awpcp-category-icon-image,
.categoryicon {
    box-sizing: border-box;
    vertical-align: middle;
    max-width: 100%
}

.sub-categories .awpcp-category-icon {
    margin-left: 0
}

.theuploaddiv .button {
    margin-top: 20px;
    padding: 6px
}

div.theuploaddiv {
    display: block;
    padding: 10px
}

.finishbutton {
    background: #f2f2f2;
    height: auto !important;
    min-height: 60px;
    width: 90%;
    padding: 14px
}

.finishbutton .finishbuttonleft {
    float: left;
    width: 60%;
    margin-right: 25px
}

.finishbutton .finishbuttonleft b {
    font-weight: bold
}

.finishbutton .finishbuttonright {
    float: right
}

.finishbutton .button {
    text-align: center;
    padding: 6px;
    margin: 10px 0
}

p.uploaderror {
    padding: 5px;
    background: #ffffcc;
    color: #000000
}

div.unsetsavedlocationslink {
    clear: both;
    padding: 5px;
    background: #f2f2f2;
    width: 300px;
    text-align: center
}

.adviewed {
    margin: 10px 0;
    border-top: 1px dotted #333333;
    padding-top: 10px
}

.dropdownparentcategory {
    background-color: #eeeeee;
    margin-bottom: 3px;
    color: #000000
}

.displayaditemsodd {
    background: #f2f2f2;
    width: 100%;
    margin-bottom: 10px
}

.displayaditemseven {
    width: 100%;
    margin-bottom: 10px
}

.twitter-share-button {
    background: transparent url('../images/tweetn.png') no-repeat 0 0;
    direction: ltr;
    display: block;
    margin-top: 5px;
    width: 55px;
    height: 22px;
    text-align: left;
    text-indent: -9999px
}

.facebook-share-button {
    background: url(../images/fbshare.png) no-repeat 0 0;
    display: block;
    height: 18px;
    width: 57px
}

#js_error {
    color: #cf0000;
    border: 1px dotted #cc0000;
    background-color: #fee;
    text-align: center;
    margin-bottom: 12px !important;
    padding-top: 5px !important
}

p.ad_status_msg {
    background: none repeat scroll 0 0 #A2C9DB;
    padding: 10px
}

.awpcp-extra-field-category-root,
.awpcp-extra-field-always-visible {
    display: block
}

.awpcp-extra-field-hidden {
    display: none
}

.awpcp-extra-fields {
    margin-bottom: 10px
}

.awpcp-extra-fields .first-column {
    clear: left
}

.awpcp-extra-fields-columns-2 .cladinfo {
    float: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 10px;
    width: 45%
}

.awpcp-extra-fields-columns-2 .first-column {
    margin-left: 0;
    margin-right: 5%
}

.awpcp-extra-fields-columns-2 .last-column {
    margin-left: 5%;
    margin-right: 0
}

.awpcp-extra-fields-columns-3 .cladinfo {
    float: left;
    margin: 0 1.5% 10px;
    width: 30%
}

.awpcp-extra-fields-columns-3 .first-column {
    margin-left: 0;
    margin-right: 3%
}

.awpcp-extra-fields-columns-3 .last-column {
    margin-left: 3%;
    margin-right: 0
}

#classiwrapper .awpcp-videos {
    clear: both;
    margin-top: 10px
}

#classiwrapper .awpcp-videos-title {
    font-weight: bold
}

#classiwrapper .awpcp-videos-grid-item {
    float: left;
    list-style: none;
    margin: 10px
}

#classiwrapper .awpcp-videos-grid-item a {
    background: #626262;
    border: 1px solid #313131;
    display: inline-block;
    padding: 9px
}

#classiwrapper .awpcp-videos-list-item {
    list-style: none;
    margin: 10px 0
}

#classiwrapper .awpcp-attachments {
    clear: both;
    margin-top: 10px
}

#classiwrapper .awpcp-attachments-title {
    font-weight: bold
}

#classiwrapper .awpcp-attachments-list {
    margin: 0;
    padding: 0
}

#classiwrapper .awpcp-attachments-list li {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0
}

.awpcp-textfield,
.inputbox,
.awpcp-textarea {
    box-sizing: border-box;
    border: 1px solid #888888;
    width: 100%
}

.awpcp-textfield,
.inputbox {
    padding: 5px;
    background-color: #ffffff;
    color: #000000
}

@media only screen and (max-width:960px) {
    .awpcp-page .button,
    .awpcp-page input[type="submit"] {
        margin-bottom: 5px;
        width: 100%
    }
    .awpcp-dropdown,
    .awpcp-textfield,
    .inputbox,
    .awpcp-textarea {
        width: 100%
    }
}

.is-hidden,
.is-hidden[type="reset"],
.is-hidden[type="button"],
.is-hidden[type="submit"] {
    display: none
}

.is-visible-inline-block {
    display: inline-block !important
}

#TB_closeWindow {
    box-sizing: content-box
}

.clearfix:after,
.awpcp-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

* html .clearfix,
* html .awpcp-clearfix {
    zoom: 1
}

*:first-child+html .clearfix,
*:first-child+html .awpcp-clearfix {
    zoom: 1
}

.align-text-right {
    text-align: right
}

.align-text-left {
    text-align: left
}

.awpcp-clearboth {
    clear: both
}

.awpcp-clearleft {
    clear: left
}

.awpcp-hidden {
    display: none
}

.awpcp-hide-if-js {
    display: none
}

.no-js .awpcp-hide-if-js {
    display: block
}

.awpcp-width-20p {
    width: 20%
}

.awpcp-inline-label {
    display: inline-block
}

.awpcp-block-label {
    display: block
}

.awpcp-list {
    margin-right: 0
}

.awpcp-list>li {
    text-align: left
}

.awpcp-list-no-style {
    list-style-type: none;
    padding: 0
}

.awpcp-box {
    background: #FAFAFA;
    padding: 10px
}

.awpcp-rounded-box {
    border-radius: 2px
}

.awpcp-bordered-box {
    border: 1px solid #D2D2D2
}

.awpcp-button {
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    background: #FDFDFD;
    border-color: #CCC;
    cursor: pointer;
    display: block;
    padding: 6px 8px 6px
}

.awpcp-button:hover {
    background: #fff;
    border-color: #d0d0d0
}

.awpcp-button:active {
    background: #BBB;
    border-color: #999;
    color: #FFF
}

#classiwrapper .awpcp-message {
    background-color: #FFFBCC;
    border: 1px solid #CCC;
    color: #333;
    margin: 10px 0;
    padding: 8px 12px
}

#classiwrapper .awpcp-message.updated {
    border-color: #E6DB55
}

#classiwrapper .awpcp-message.error {
    border-color: #CC0000
}

#classiwrapper .awpcp-message.info {
    border-color: #00A1CE
}

#classiwrapper .awpcp-message.ghost {
    display: none
}

#classiwrapper .awpcp-message p {
    margin: 0
}

#classiwrapper .awpcp-updated {
    border-color: #E6DB55;
    display: block !important
}

#classiwrapper .awpcp-error {
    background-color: #FFEBE8;
    border-color: #CC0000;
    color: #ff0000;
    font-weight: normal;
    font-size: 14px
}

.wrap div.awpcp-inline-form-error {
    background: #FFF;
    border-radius: 3px;
    border-color: #D15151;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    color: #555;
    margin: .5em;
    padding: .5em .7em
}

.awpcp-table {
    border: none;
    margin: 0 0 1.625em;
    width: 100%
}

.awpcp-table th,
.awpcp-table td {
    padding: 6px;
    text-align: left
}

.awpcp-table th {
    background: #EFEFEF;
    font-weight: bold
}

.awpcp-table td {
    border-top: 1px solid #DDDDDD
}

@media only screen and (max-width:800px) {
    table.awpcp-table table,
    .awpcp-table table,
    table.awpcp-table thead,
    .awpcp-table thead,
    table.awpcp-table tbody,
    .awpcp-table tbody,
    table.awpcp-table th,
    .awpcp-table th,
    table.awpcp-table td,
    .awpcp-table td,
    table.awpcp-table tr,
    .awpcp-table tr {
        display: block
    }
    table.awpcp-table th,
    .awpcp-table th {
        border: none
    }
    table.awpcp-table thead tr,
    .awpcp-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    table.awpcp-table tbody tr th,
    .awpcp-table tbody tr th {
        padding-left: 10px
    }
    table.awpcp-table tr,
    .awpcp-table tr {
        border: 1px solid #ccc
    }
    table.awpcp-table tr td,
    .awpcp-table tr td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 60% !important;
        white-space: normal;
        text-align: left
    }
    table.awpcp-table tr td:before,
    .awpcp-table tr td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold
    }
    table.awpcp-table tr td:before,
    .awpcp-table tr td:before {
        content: attr(data-title)
    }
}

.awpcp-listing-primary-image-listing-link {
    display: inline-block;
    position: relative
}

.awpcp-listing-excerpt {
    background: #F9F9F9;
    box-sizing: border-box;
    padding: 5px
}

.awpcp-listing-excerpt-thumbnail {
    box-sizing: border-box;
    text-align: center;
    width: 100%
}

.awpcp-listing-primary-image-listing-link {
    display: block
}

.awpcp-listing-primary-image-thumbnail {
    width: 100%
}

.awpcp-listing-excerpt-content .awpcp-listing-title {
    margin: 0 0 10px
}

.awpcp-listing-excerpt-extra {
    margin-top: 15px
}

.awpcp-listing-excerpt-small,
.awpcp-listing-excerpt-medium {
    padding: 10px
}

.awpcp-listing-excerpt-small .awpcp-listing-excerpt-thumbnail,
.awpcp-listing-excerpt-medium .awpcp-listing-excerpt-thumbnail {
    margin: 0 20px 20px 0;
    float: left;
    width: 50%;
      display:none
}

.awpcp-listing-excerpt-small .awpcp-listing-title,
.awpcp-listing-excerpt-medium .awpcp-listing-title {
    margin-top: 10px
}

.awpcp-listing-excerpt-medium .awpcp-listing-excerpt-thumbnail {
    width: auto
}

.awpcp-listing-excerpt-medium .awpcp-listing-primary-image-thumbnail {
    width: auto
}

.awpcp-billing-form fieldset {
    margin-bottom: 30px !important
}

.awpcp-billing-form label {
    float: left;
    margin-right: 15px;
    text-align: right;
    width: 170px
}

.awpcp-billing-form .textfield {
    width: 270px
}

.awpcp-billing-form .short {
    width: 50px
}

.awpcp-billing-form .awpcp-form-group {
    float: left
}

.awpcp-billing-form .awpcp-form-group label {
    display: block;
    float: none;
    width: auto
}

.awpcp-billing-form .awpcp-error {
    clear: both;
    display: block
}

.awpcp-billing-form .awpcp-billing-credit-card-type label {
    margin-right: 2px;
    width: 37px;
    height: 23px
}

.awpcp-billing-form .awpcp-billing-credit-card-type label input,
.awpcp-billing-form .awpcp-billing-credit-card-type label span {
    display: none
}

.awpcp-billing-form .awpcp-billing-credit-card-type label .cclogo {
    background: url(../images/payment-icons-sprite.png) -1px -31px no-repeat;
    border: 1px solid #DDD;
    display: block;
    opacity: 1;
    width: 35px;
    height: 21px
}

.awpcp-billing-form .awpcp-billing-credit-card-type label .mastercard {
    background-position: -1px -61px
}

.awpcp-billing-form .awpcp-billing-credit-card-type label .discover {
    background-position: -1px -91px
}

.awpcp-billing-form .awpcp-billing-credit-card-type label .amex {
    background-position: -1px -121px
}

.awpcp-billing-form .awpcp-billing-credit-card-type label .fade {
    opacity: .45
}

.awpcp-billing-table-form-fields {
    border: none
}

.awpcp-billing-table-form-field th,
.awpcp-billing-table-form-field td {
    border: none;
    padding: 8px 0
}

.awpcp-category-dropdown {
    margin-right: 5px
}

.awpcp-category-dropdown:last-of-type {
    margin-right: 0
}

@media only screen and (max-width:480px) {
    .awpcp-category-dropdown {
        margin-right: 0
    }
}

#awpcpcatlayout .showcategoriesmainlist {
    clear: left;
    display: block;
    list-style: none
}

#awpcpcatlayout .showcategoriesmainlist li {
    float: left;
    list-style: none;
    padding: 0;
    margin: 3px 2% 5px 0
}

#awpcpcatlayout .showcategoriesmainlist li a {
    text-decoration: none
}

#awpcpcatlayout .showcategoriesmainlist li ul {
    margin: 0 0 20px 10px;
    list-style: none
}

#awpcpcatlayout .showcategoriesmainlist li.columns-1 {
    width: 100%;
    margin: 3px 0 5px
}

#awpcpcatlayout .showcategoriesmainlist li.columns-2 {
    width: 48%
}

#awpcpcatlayout .showcategoriesmainlist li.columns-3 {
    width: 31%
}

#awpcpcatlayout .showcategoriesmainlist li.columns-4 {
    width: 23%
}

#awpcpcatlayout .showcategoriesmainlist li.columns-5 {
    width: 18%
}

#awpcpcatlayout .showcategoriessublist li {
    float: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background: none
}

.awpcp-categories-list .top-level-category .js-handler {
    margin: 4px 10px 0 0
}

@media screen and (max-width:44em) {
    #awpcpcatlayout .showcategoriesmainlist {
        padding: 0
    }
    #awpcpcatlayout .showcategoriesmainlist li.columns-1,
    #awpcpcatlayout .showcategoriesmainlist li.columns-2,
    #awpcpcatlayout .showcategoriesmainlist li.columns-3,
    #awpcpcatlayout .showcategoriesmainlist li.columns-4,
    #awpcpcatlayout .showcategoriesmainlist li.columns-5 {
        width: 100%
    }
}

.awpcp-classifieds-search-bar {
    margin: 8pt 0
}

.awpcp-classifieds-search-bar form {
    margin: 0
}

.awpcp-classifieds-search-bar--query-field {
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 0 4px 0 0;
    width: 70%
}

.awpcp-classifieds-search-bar--query-field input[type="text"] {
    box-sizing: border-box;
    width: 100%
}

.awpcp-classifieds-search-bar--submit-button {
    box-sizing: border-box;
    float: left;
    margin: 0;
    width: 30%
}

.awpcp-classifieds-search-bar--submit-button input[type="submit"] {
    box-sizing: border-box;
    margin: 0;
    width: 100%
}

.awpcp-classifieds-search-bar--advanced-search-link {
    clear: both;
    font-size: .8em;
    margin: 2px 0 0;
    padding: 0 4px;
    text-align: right
}

.awpcp-classifieds-search-bar-tiny .awpcp-classifieds-search-bar--query-field {
    float: none;
    padding: 0;
    margin-bottom: 8pt;
    width: 100%
}

.awpcp-classifieds-search-bar-tiny .awpcp-classifieds-search-bar--submit-button {
    float: none;
    width: 100%
}

.awpcp-classifieds-menu {
    margin: 8pt 0;
    padding: 0
}

.awpcp-classifieds-menu--menu-item {
    box-sizing: border-box;
    float: left;
    list-style: none;
    padding-right: 8pt;
    margin: 0 0 4pt
}

.awpcp-classifieds-menu--menu-item a img {
    display: inline-block
}

.awpcp-classifieds-menu--menu-item-link {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    width: 100%
}

.awpcp-classifieds-menu-tiny .awpcp-classifieds-menu--menu-item {
    padding: 0;
    width: 50%
}

.awpcp-classifieds-menu-tiny .awpcp-classifieds-menu--menu-item:nth-child(2n+1) {
    padding-right: 2pt
}

.awpcp-classifieds-menu-tiny .awpcp-classifieds-menu--menu-item:nth-child(2n) {
    padding-left: 2pt
}

.awpcp-classifieds-menu-small .awpcp-classifieds-menu--menu-item {
    padding: 0 2pt;
    width: 33%
}

.awpcp-classifieds-menu-small .awpcp-classifieds-menu--menu-item:nth-child(3n+1) {
    padding-left: 0
}

.awpcp-classifieds-menu-small .awpcp-classifieds-menu--menu-item:nth-child(3n) {
    padding-right: 0
}

.awpcp-form-steps .awpcp-form-steps-step {
    background: #FEFEFE;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #AAA;
    box-shadow: 0 1px 1px rgba(69, 69, 69, 0.3);
    display: inline-block;
    margin: 0
}

.awpcp-form-steps .awpcp-form-steps-step:first-child {
    border-left-width: 1px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.awpcp-form-steps .awpcp-form-steps-step:last-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px
}

.awpcp-form-steps .awpcp-form-steps-step-inner {
    color: #333;
    cursor: default;
    display: inline-block;
    font-size: .95em;
    font-weight: 500;
    line-height: 1.5em;
    padding: 8px 10px;
    text-decoration: none
}

.awpcp-form-steps .awpcp-form-steps-step-number {
    background: #00CA6B;
    border-radius: 2px;
    border: 1px solid #00A65B;
    padding: 2px 5px
}

.awpcp-form-steps .awpcp-form-steps-completed-step {
    background-color: #00CA6B
}

.awpcp-form-steps .awpcp-form-steps-completed-step .awpcp-form-steps-step-number {
    background-color: transparent;
    border-color: transparent
}

.awpcp-form-steps .awpcp-form-steps-completed-step .awpcp-form-steps-step-name {
    display: none
}

.awpcp-form-steps .awpcp-form-steps-current-step .awpcp-form-steps-step-number {
    background-color: transparent;
    border-color: transparent
}

.awpcp-form-steps .awpcp-form-steps-current-step .awpcp-form-steps-step-number:after {
    content: '.'
}

.awpcp-form-steps .awpcp-form-steps-pending-step {
    background-color: #F4F4F4
}

.awpcp-form-steps .awpcp-form-steps-pending-step .awpcp-form-steps-step-number {
    background-color: transparent;
    border-color: transparent
}

.awpcp-form-steps .awpcp-form-steps-pending-step .awpcp-form-steps-step-name {
    display: none
}

.awpcp-form-steps .awpcp-form-steps-pending-step a {
    color: #999
}

.awpcp-listings-widget-items-list {
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item {
    margin-bottom: 15px
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item .awpcplatestthumb {
    box-sizing: border-box;
    margin-bottom: 5px
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item .awpcplatestthumb a {
    display: block !important;
    margin: 0 auto !important;
    width: 100%
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item .awpcplatestthumb a img {
    height: auto;
    max-width: 100%;
    margin: 0 auto
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item .awpcp-listing-title {
    font-weight: bold
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item .awpcp-widget-read-more {
    margin-left: 10px !important
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item-with-thumbnail-above-in-desktop .awpcplatestthumb {
    margin-right: 0;
    margin-left: 0;
    float: none;
    width: 100%
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item-with-left-thumbnail-in-desktop .awpcplatestthumb {
    margin-right: 10px;
    margin-left: 0;
    float: left;
    width: 50%
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item-with-right-thumbnail-in-desktop .awpcplatestthumb {
    margin-right: 0;
    margin-left: 10px;
    float: right;
    width: 50%
}

.awpcp-listings-widget-items-list .awpcp-listings-widget-item-listing-link {
    position: relative
}

@media screen and (max-width:44em) {
    .awpcp-listings-widget-items-list .awpcp-listings-widget-item-with-left-thumbnail-in-mobile .awpcplatestthumb {
        margin-right: 10px;
        margin-left: 0;
        float: left;
        width: 50%
    }
    .awpcp-listings-widget-items-list .awpcp-listings-widget-item-with-right-thumbnail-in-mobile .awpcplatestthumb {
        margin-right: 0;
        margin-left: 10px;
        float: right;
        width: 50%
    }
    .awpcp-listings-widget-items-list .awpcp-listings-widget-item-with-thumbnail-above-in-mobile .awpcplatestthumb {
        margin-right: 0;
        margin-left: 0;
        float: none;
        width: 100%
    }
}

.awpcp-listing-actions-component {
    background: #DDD;
    border: 1px solid #BBB;
    padding: 8px
}

.awpcp-listing-action-form {
    display: inline-block;
    margin: 0;
    padding: 2px
}

.awpcp-listing-action-form.is-active {
    background: #ebebeb
}

.awpcp-listing-action-form-confirmation {
    font-weight: bold;
    font-style: italic
}

.awpcp-navigation .awpcp-menu-toggle {
    background: #000 url("../images/bullet_arrow_down.png") 10px center no-repeat;
    color: #eee;
    cursor: pointer;
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding: 8px 8px 8px 30px;
    text-transform: uppercase
}

.awpcp-navigation ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 0 15px 0
}

.awpcp-navigation ul li {
    background: transparent no-repeat left center;
    float: left;
    list-style: none;
    margin: 0 15px 10px 0;
    padding-left: 20px
}

.awpcp-navigation ul .search-listings {
    background-image: url("../images/search_ico.png")
}

.awpcp-navigation ul .edit-listing {
    background-image: url("../images/edit_ico.png")
}

.awpcp-navigation ul .post-listing {
    background-image: url("../images/post_ico.png")
}

.awpcp-navigation ul .browse-listings {
    background-image: url("../images/browse_ico.png")
}

.awpcp-navigation ul .buy-subscription {
    background-image: url("../images/buy_subscription_ico.png")
}

@media screen and (max-width:44em) {
    .awpcp-navigation .awpcp-menu-toggle {
        display: block
    }
    .awpcp-navigation .awpcp-nav-menu {
        display: none;
        padding: 0 0 0 5px !important
    }
    .awpcp-navigation .awpcp-nav-menu li {
        float: none;
        margin-bottom: 0;
        margin-top: 6px;
        padding: 0 0 0 20px;
        text-align: left
    }
    .awpcp-navigation.toggle-on .awpcp-menu-toggle {
        background-image: url("../images/bullet_arrow_up.png")
    }
    .awpcp-navigation.toggle-on .awpcp-nav-menu {
        display: block
    }
}

#classiwrapper .awpcp-uploaded-files-group,
.awpcp-media-center .awpcp-uploaded-files-group {
    padding-bottom: 1px
}

#classiwrapper .awpcp-uploaded-files-group-title,
.awpcp-media-center .awpcp-uploaded-files-group-title {
    background: #EEE;
    border: 1px solid #DDD;
    font-size: 1.2em;
    margin: 10px 0;
    padding: 4px;
    text-align: center
}

#classiwrapper .awpcp-uploaded-files-list,
.awpcp-media-center .awpcp-uploaded-files-list {
    margin-bottom: 10px
}

#classiwrapper .awpcp-uploaded-file,
.awpcp-media-center .awpcp-uploaded-file {
    background: #EEE;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0 0 10px;
    position: relative;
    padding: 3px;
    text-align: center;
    width: 100%
}

#classiwrapper .awpcp-progress-bar,
.awpcp-media-center .awpcp-progress-bar {
    background-color: #00CA6B;
    height: 8px
}

#classiwrapper .awpcp-uploaded-file-thumbnail-container,
.awpcp-media-center .awpcp-uploaded-file-thumbnail-container {
    background: #E2E2E2;
    margin-bottom: 10px
}

#classiwrapper .awpcp-uploaded-file-thumbnail-container img,
.awpcp-media-center .awpcp-uploaded-file-thumbnail-container img {
    border-radius: 0;
    box-shadow: none;
    display: block;
    margin: 0 auto
}

#classiwrapper .is-disabled .awpcp-uploaded-file-thumbnail-container img,
.awpcp-media-center .is-disabled .awpcp-uploaded-file-thumbnail-container img {
    opacity: .5
}

#classiwrapper .awpcp-uploaded-file-label,
.awpcp-media-center .awpcp-uploaded-file-label {
    position: absolute;
    bottom: -23px;
    height: 20px;
    background: #B6E2AF;
    font-size: 11px;
    padding: 0 6px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 144px;
    box-sizing: border-box;
    line-height: 18px;
    left: 50%;
    margin-left: -72px
}

#classiwrapper .awpcp-uploaded-file-primary-label,
.awpcp-media-center .awpcp-uploaded-file-primary-label {
    background: #B6E2AF
}

#classiwrapper .awpcp-uploaded-file-rejected-label,
.awpcp-media-center .awpcp-uploaded-file-rejected-label {
    background: #FFB3B3
}

#classiwrapper .is-primary,
.awpcp-media-center .is-primary {
    background: #B6E2AF;
    border: 3px solid #86CC7C;
    padding: 1px
}

#classiwrapper .is-awaiting-approval,
.awpcp-media-center .is-awaiting-approval {
    background: #FFF6DB;
    border-color: #E6E6C8
}

#classiwrapper .is-rejected,
.awpcp-media-center .is-rejected {
    background: #FFB3B3;
    border: 3px solid #FC9393;
    padding: 1px
}

#classiwrapper .awpcp-uploaded-files-table,
.awpcp-media-center .awpcp-uploaded-files-table {
    margin: 0
}

#classiwrapper .awpcp-uploaded-files-table td,
.awpcp-media-center .awpcp-uploaded-files-table td {
    padding: 3px;
    vertical-align: middle
}

#classiwrapper .awpcp-uploaded-files-table .awpcp-uploaded-file,
.awpcp-media-center .awpcp-uploaded-files-table .awpcp-uploaded-file {
    float: none;
    border: none;
    margin: 0;
    padding: 0;
    width: auto
}

#classiwrapper .awpcp-uploaded-files-table .awpcp-uploaded-file-name,
.awpcp-media-center .awpcp-uploaded-files-table .awpcp-uploaded-file-name {
    padding-left: 8px;
    text-align: left
}

#classiwrapper .awpcp-uploaded-file-actions,
.awpcp-media-center .awpcp-uploaded-file-actions {
    padding-top: 5px
}

#classiwrapper .awpcp-uploaded-file-action,
.awpcp-media-center .awpcp-uploaded-file-action {
    float: left;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    margin-right: 2px;
    background: #FBFBFB
}

#classiwrapper .awpcp-uploaded-file-action a,
.awpcp-media-center .awpcp-uploaded-file-action a,
#classiwrapper .awpcp-uploaded-file-action label,
.awpcp-media-center .awpcp-uploaded-file-action label {
    background: transparent center center no-repeat;
    cursor: pointer;
    display: block;
    height: 22px;
    line-height: 22px;
    width: 24px
}

#classiwrapper .awpcp-uploaded-file-action:hover,
.awpcp-media-center .awpcp-uploaded-file-action:hover {
    border-color: #B3B3B3;
    background-color: #D8D8D8
}

#classiwrapper .is-primary .awpcp-uploaded-file-action,
.awpcp-media-center .is-primary .awpcp-uploaded-file-action {
    background: #ECF6EA;
    border-color: #9BCE93
}

#classiwrapper .is-primary .awpcp-uploaded-file-action:hover,
.awpcp-media-center .is-primary .awpcp-uploaded-file-action:hover {
    background: #A5D69D
}

#classiwrapper .awpcp-uploaded-file-toggle-action,
.awpcp-media-center .awpcp-uploaded-file-toggle-action {
    border-radius: 0;
    border-right-width: 0;
    margin: 0
}

#classiwrapper .awpcp-uploaded-file-toggle-action:first-child,
.awpcp-media-center .awpcp-uploaded-file-toggle-action:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px
}

#classiwrapper .awpcp-uploaded-file-toggle-action:last-child,
.awpcp-media-center .awpcp-uploaded-file-toggle-action:last-child {
    border-right-width: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px
}

#classiwrapper .awpcp-uploaded-file-toggle-action .awpcp-toggle-button,
.awpcp-media-center .awpcp-uploaded-file-toggle-action .awpcp-toggle-button {
    float: left
}

#classiwrapper .awpcp-uploaded-file-change-status-action label,
.awpcp-media-center .awpcp-uploaded-file-change-status-action label {
    padding: 0 4px;
    width: auto
}

#classiwrapper .awpcp-uploaded-file-set-as-primary-action span,
.awpcp-media-center .awpcp-uploaded-file-set-as-primary-action span {
    display: block
}

#classiwrapper .awpcp-uploaded-file-set-as-primary-action a,
.awpcp-media-center .awpcp-uploaded-file-set-as-primary-action a {
    background-image: url(../images/image-not-primary.png)
}

#classiwrapper .is-primary .awpcp-uploaded-file-set-as-primary-action a,
.awpcp-media-center .is-primary .awpcp-uploaded-file-set-as-primary-action a {
    background-image: url(../images/image-primary.png)
}

#classiwrapper .awpcp-uploaded-file-delete-action a,
.awpcp-media-center .awpcp-uploaded-file-delete-action a {
    background-image: url(../images/file-delete.png)
}

#classiwrapper .awpcp-uploaded-file-approve-action a,
.awpcp-media-center .awpcp-uploaded-file-approve-action a {
    background-image: url(../images/approve-attachment.png)
}

#classiwrapper .awpcp-uploaded-file-approve-action .awpcp-toggle-off,
.awpcp-media-center .awpcp-uploaded-file-approve-action .awpcp-toggle-off {
    background-image: url(../images/approve-attachment-off.png)
}

#classiwrapper .awpcp-uploaded-file-reject-action a,
.awpcp-media-center .awpcp-uploaded-file-reject-action a {
    background-image: url(../images/reject-attachment.png)
}

#classiwrapper .awpcp-uploaded-file-reject-action .awpcp-toggle-off,
.awpcp-media-center .awpcp-uploaded-file-reject-action .awpcp-toggle-off {
    background-image: url(../images/reject-attachment-off.png)
}

#classiwrapper .awpcp-uploaded-file-loading-icon,
.awpcp-media-center .awpcp-uploaded-file-loading-icon {
    background: none !important;
    border: none !important
}

#classiwrapper .awpcp-uploaded-file-spinner,
.awpcp-media-center .awpcp-uploaded-file-spinner {
    background-color: #fff;
    margin: -25px -10px;
    padding: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 12px
}

#classiwrapper .awpcp-uploaded-video-delete-action a,
.awpcp-media-center .awpcp-uploaded-video-delete-action a {
    background-image: url(../images/film_delete.png)
}

#classiwrapper .awpcp-media-manager-small .awpcp-uploaded-file,
.awpcp-media-center .awpcp-media-manager-small .awpcp-uploaded-file {
    float: left;
    width: 49%;
    margin-right: 1%;
    margin-left: 1%
}

#classiwrapper .awpcp-media-manager-small .awpcp-uploaded-file:nth-child(2n+1),
.awpcp-media-center .awpcp-media-manager-small .awpcp-uploaded-file:nth-child(2n+1) {
    margin-left: 0
}

#classiwrapper .awpcp-media-manager-small .awpcp-uploaded-file:nth-child(2n+2),
.awpcp-media-center .awpcp-media-manager-small .awpcp-uploaded-file:nth-child(2n+2) {
    margin-right: 0
}

#classiwrapper .awpcp-media-manager-medium .awpcp-uploaded-file,
.awpcp-media-center .awpcp-media-manager-medium .awpcp-uploaded-file {
    float: left;
    width: 32%;
    margin-right: 1%;
    margin-left: 1%
}

#classiwrapper .awpcp-media-manager-medium .awpcp-uploaded-file:nth-child(3n+1),
.awpcp-media-center .awpcp-media-manager-medium .awpcp-uploaded-file:nth-child(3n+1) {
    margin-left: 0
}

#classiwrapper .awpcp-media-manager-medium .awpcp-uploaded-file:nth-child(3n),
.awpcp-media-center .awpcp-media-manager-medium .awpcp-uploaded-file:nth-child(3n) {
    margin-right: 0
}

#classiwrapper .awpcp-media-manager-large .awpcp-uploaded-files-list,
.awpcp-media-center .awpcp-media-manager-large .awpcp-uploaded-files-list {
    margin-left: -9px;
    margin-right: -9px
}

#classiwrapper .awpcp-media-manager-large .awpcp-uploaded-file,
.awpcp-media-center .awpcp-media-manager-large .awpcp-uploaded-file {
    float: left;
    width: 205px;
    margin-right: 9px;
    margin-left: 9px
}

.awpcp-media-uploader {
    margin: 20px 0
}

.awpcp-media-uploader-dropzone {
    text-align: center
}

.awpcp-media-uploader-dropzone-inner {
    padding: 25px;
    border: 3px dashed #CCC
}

.awpcp-media-uploader-dropzone-active {
    background-color: #00CA6B;
    padding: 5px
}

.awpcp-media-uploader-dropzone-active .awpcp-media-uploader-dropzone-inner {
    border-color: #fff;
    border-width: 2px;
    padding: 20px
}

.awpcp-media-uploader-instructions {
    margin-bottom: 20px
}

.awpcp-media-uploader-instructions span {
    display: block;
    line-height: 1.6em
}

.awpcp-media-uploader-instructions-title {
    font-weight: bold;
    font-size: 1.6em;
    line-height: 1.6em
}

.awpcp-media-uploader-restrictions {
    margin-top: 20px
}

.awpcp-media-uploader-browser-button {
    box-sizing: border-box;
    color: #666;
    display: inline-block;
    font-weight: bold
}

.awpcp-payment-terms-table tr {
    background: #FAFAFA
}

.awpcp-payment-terms-table .price {
    width: 100px
}

.awpcp-payment-terms-table-payment-term-price {
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    background: #FDFDFD;
    border-color: #CCC;
    cursor: pointer;
    display: block;
    padding: 6px 8px 6px;
    font-size: 16px;
    padding-top: 4px;
    text-align: center
}

.awpcp-payment-terms-table-payment-term-price:hover {
    background: #fff;
    border-color: #d0d0d0
}

.awpcp-payment-terms-table-payment-term-price:active {
    background: #BBB;
    border-color: #999;
    color: #FFF
}

.awpcp-payment-terms-table-payment-term-price input,
.awpcp-payment-terms-table-payment-term-price span {
    vertical-align: middle
}

.awpcp-payment-terms-table-payment-term-price input {
    margin-right: 4px
}

.awpcp-payment-terms-table-payment-term-price span {
    display: inline-block
}

@media only screen and (max-width:800px) {
    .awpcp-payment-terms-table tr {
        margin-bottom: 6px
    }
    .awpcp-payment-terms-table .price {
        width: auto
    }
}

.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method {
    margin-bottom: 4px
}

.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label {
    border: 1px solid #D2D2D2;
    border-radius: 2px;
    background: #FDFDFD;
    border-color: #CCC;
    cursor: pointer;
    display: block;
    padding: 6px 8px 6px;
    padding-top: 4px
}

.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label:hover {
    background: #fff;
    border-color: #d0d0d0
}

.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label:active {
    background: #BBB;
    border-color: #999;
    color: #FFF
}

.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label:active {
    background: #FDFDFD;
    border-color: #666
}

.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label input,
.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label img,
.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label span {
    display: inline-block
}

.awpcp-payment-methods-list .awpcp-payment-methods-list-payment-method label img {
    max-width: 80%
}

.awpcp-payment-methods-list-480 .awpcp-payment-methods-list-payment-method {
    margin-bottom: 8px
}

.awpcp-thumbnails-generator video,
.awpcp-thumbnails-generator canvas {
    position: absolute;
    left: -9999px;
    visibility: hidden
}

.awpcp-multiple-region-selector .add-region,
.awpcp-multiple-region-selector .remove-region {
    font-size: .8em
}

.awpcp-multiple-region-selector .add-region {
    margin-left: 10px
}

#classiwrapper ul,
.awpcp-multiple-region-selector ul {
    margin: 0;
    padding: 0 !important
}

#classiwrapper ul li,
.awpcp-multiple-region-selector ul li {
    list-style-type: none;
    list-style-image: none
}

#classiwrapper .awpcp-region-selector,
.awpcp-multiple-region-selector .awpcp-region-selector {
    background: rgba(0, 0, 0, 0.02);
    margin-left: 0;
    margin-bottom: 5px;
    padding: 4px 0
}

#classiwrapper .awpcp-region-selector .awpcp-region-selector-partials,
.awpcp-multiple-region-selector .awpcp-region-selector .awpcp-region-selector-partials {
    padding: 2px
}

#classiwrapper .awpcp-region-selector .awpcp-region-selector-partial,
.awpcp-multiple-region-selector .awpcp-region-selector .awpcp-region-selector-partial {
    list-style-type: none;
    margin: 0
}

#classiwrapper .awpcp-region-selector .awpcp-region-selector-partial label,
.awpcp-multiple-region-selector .awpcp-region-selector .awpcp-region-selector-partial label {
    display: block;
    margin-right: 5px
}

#classiwrapper .awpcp-region-selector .awpcp-region-selector-partial .loading-message,
.awpcp-multiple-region-selector .awpcp-region-selector .awpcp-region-selector-partial .loading-message {
    color: #555;
    font-size: .9em;
    font-style: italic
}

#classiwrapper .awpcp-region-selector:last-of-type,
.awpcp-multiple-region-selector .awpcp-region-selector:last-of-type {
    margin-bottom: 0
}

.awpcp-multiple-region-selector-form-table table {
    border-top: 1px solid #DDD
}

.awpcp-multiple-region-selector-form-table tfoot td {
    text-align: right
}

.awpcp-multiple-region-selector-form-table .awpcp-region-selector {
    background: transparent
}

.awpcp-multiple-region-selector-form-table .add-region {
    margin-left: 0;
    margin-top: 10px
}

.widget_awpcp_search_widget form label {
    font-size: 13px;
    font-size: .9rem;
    line-height: 1.2rem;
    margin: 1px 0;
    text-align: left
}

.widget_awpcp_search_widget form input[type="text"],
.widget_awpcp_search_widget form input[type="email"],
.widget_awpcp_search_widget form input[type="password"],
.widget_awpcp_search_widget form select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 100%
}

.widget_awpcp_search_widget .awpcp-width-20p {
    width: 20% !important
}

.widget_awpcp_search_widget .awpcp-list {
    margin: .4em 0 !important
}

.widget_awpcp_search_widget .awpcp-list-no-style {
    padding: 0 !important
}

.widget_awpcp_search_widget .awpcp-form-spacer {
    margin: .4em 0
}

.widget_awpcp_search_widget .awpcp-category-dropdown-label {
    display: block
}

.widget_awpcp_search_widget .awpcp-multiple-region-selector,
.widget_awpcp_search_widget .awpcp-multiple-region-selector .awpcp-region-selector-partials,
.widget_awpcp_search_widget .awpcp-multiple-region-selector .awpcp-region-selector-partials label {
    padding: 0
}

.widget_awpcp_search_widget .awpcp-multiple-region-selector {
    margin: 0
}

.widget_awpcp_search_widget .awpcp-multiple-region-selector .awpcp-region-selector {
    background: none
}

.widget_awpcp_search_widget .awpcp-multiple-region-selector .awpcp-region-selector .awpcp-region-selector-partials {
    margin: 0
}

.widget_awpcp_search_widget .awpcp-multiple-region-selector .awpcp-region-selector .awpcp-region-selector-partials label {
    margin-right: 0
}

.widget_awpcp_search_widget .submit {
    margin-top: 10px
}

.awpcp-terms-of-service-checkbox {
    display: inline-block !important;
    margin: 4px 0;
    padding: 6px 10px 6px 30px;
    position: relative
}

.awpcp-terms-of-service-checkbox input[type="checkbox"] {
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -7px
}

@media only screen and (max-width:480px) {
    .awpcp-terms-of-service-checkbox {
        display: block !important
    }
}

#classiwrapper .upload-conditions,
.upload-conditions {
    background: #EEE;
    margin-bottom: 10px;
    padding: 4px 10px
}

#classiwrapper .upload-conditions li,
.upload-conditions li {
    float: left;
    width: 50%
}

#classiwrapper .uploadform,
.uploadform {
    float: left;
    width: 100%
}

#classiwrapper .uploadform .image-upload-field,
.uploadform .image-upload-field,
#classiwrapper .uploadform .upload-field-actions,
.uploadform .upload-field-actions {
    float: left
}

#classiwrapper .uploadform .upload-field-actions,
.uploadform .upload-field-actions {
    padding-bottom: 5px;
    margin-bottom: 0
}

#classiwrapper .uploadform .upload-field-actions li,
.uploadform .upload-field-actions li {
    background: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0 7.5px;
    min-width: 0;
    width: auto
}

#classiwrapper .uploadform .upload-field-actions li a,
.uploadform .upload-field-actions li a,
#classiwrapper .uploadform .upload-field-actions li label,
.uploadform .upload-field-actions li label {
    background: url(../images/image-enable.png) center center no-repeat;
    cursor: pointer;
    display: block;
    height: 22px;
    width: 25px
}

#classiwrapper .uploadform .upload-field-actions li a:hover,
.uploadform .upload-field-actions li a:hover,
#classiwrapper .uploadform .upload-field-actions li label:hover,
.uploadform .upload-field-actions li label:hover {
    background-color: #C6C6C6
}

#classiwrapper .uploadform .upload-field-actions li span,
.uploadform .upload-field-actions li span {
    display: none
}

#classiwrapper .uploadform .upload-field-actions .primary a,
.uploadform .upload-field-actions .primary a,
#classiwrapper .uploadform .upload-field-actions .primary label,
.uploadform .upload-field-actions .primary label {
    background-image: url(../images/image-primary.png)
}

#classiwrapper .uploadform .upload-field-actions .not-primary a,
.uploadform .upload-field-actions .not-primary a,
#classiwrapper .uploadform .upload-field-actions .not-primary label,
.uploadform .upload-field-actions .not-primary label {
    background-image: url(../images/image-not-primary.png)
}

#classiwrapper .uploadform .upload-field-actions .primary input,
.uploadform .upload-field-actions .primary input,
#classiwrapper .uploadform .upload-field-actions .not-primary input,
.uploadform .upload-field-actions .not-primary input {
    display: none
}

#classiwrapper .uploadform .upload-field-actions .label,
.uploadform .upload-field-actions .label {
    color: #333;
    font-size: .9em;
    padding-top: 1px;
    padding-right: 0
}

@media only screen and (max-width:480px) {
    #classiwrapper .uploadform .image-upload-field,
    .uploadform .image-upload-field {
        width: 80%
    }
}

#showawpcpadpage {
    margin-top: 10px
}

#showawpcpadpage label {
    font-weight: bold
}

#showawpcpadpage .adtitle,
#showawpcpadpage .awpcp-title {
    background: #eeeeee;
    border-top: 1px dotted #dddddd;
    border-bottom: 1px dotted #dddddd;
    color: #333333;
    font-weight: bold;
    font-size: medium;
    padding: 10px
}

#showawpcpadpage .adbyline {
    margin-top: 5px;
    padding: 5px
}

#showawpcpadpage .adbyline .adbylinelocation {
    float: left
}

#showawpcpadpage .adbyline .awpcpadviews .views {
    font-weight: bold;
    color: #ff0000
}

#showawpcpadpage .addetails {
    padding: 10px;
    margin-top: 20px
}

#showawpcpadpage .addetails .addetails_top {
    margin: 10px 0 0 0;
    width: 95%
}

#showawpcpadpage .addetails .addetails_top .addetails_top_items {
    float: left;
    width: 195px;
    margin: 0
}

#showawpcpadpage .addetails .addetails_top .addetails_top_image {
    float: right
}

#showawpcpadpage .addetails .addetails_top .addetails_top_image img {
    margin: 0 20px 0 0;
    padding: 2px;
    border: 1px solid #dddddd
}

#showawpcpadpage .addetails .addetails_top .addetails_top_image ul {
    margin: 0;
    padding: 0
}

body .awpcp-ad-primary-image,
#showawpcpadpage .awpcp-ad-primary-image {
    float: right;
    text-align: center
}

body .awpcp-ad-primary-image .thumbnail,
#showawpcpadpage .awpcp-ad-primary-image .thumbnail {
    display: block
}

body .awpcp-ad-primary-image .enlarge,
#showawpcpadpage .awpcp-ad-primary-image .enlarge {
    display: block
}

body .awpcp-listing-primary-image-thickbox-link,
#showawpcpadpage .awpcp-listing-primary-image-thickbox-link {
    position: relative
}

.awpcp-subtitle {
    font-weight: bold;
    margin-bottom: 2px
}

.thumbshow {
    background: #f2f2f2;
    border: 1px solid #d3d3d3;
    display: inline;
    padding: 9px
}

#displayimagethumbswrapper #displayimagethumbs ul {
    list-style: none
}

#displayimagethumbswrapper #displayimagethumbs ul li {
    float: left;
    list-style: none;
    margin: 10px
}

#displayimagethumbswrapper #displayimagethumbs ul .first-column {
    clear: both
}

#displayimagethumbswrapper #displayimagethumbs a {
    background: #f2f2f2;
    border: 1px solid #d3d3d3;
    display: inline-block;
    padding: 9px
}

#displayimagethumbswrapper #displayimagethumbs a .thumbshow {
    border-color: #e7e7e7;
    padding: 0
}

@media only screen and (max-width:480px) {
    body,
    #showawpcpadpage .awpcp-ad-primary-image {
        float: none
    }
    #displayimagethumbswrapper #displayimagethumbs ul {
        margin-left: 0;
        margin-right: 0
    }
    #displayimagethumbswrapper #displayimagethumbs ul li {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        width: 50%;
        text-align: center
    }
    #displayimagethumbswrapper #displayimagethumbs ul .first-column {
        clear: none
    }
}