@media screen and (max-width: 1200px) {
  .ebd-form-wrap.ebd-frontend-form-template-1 .ebd-social-sec .ebd-sub-field,
  .ebd-form-wrap.ebd-frontend-form-template-2 .ebd-social-sec .ebd-sub-field {
    width: 48%;
    margin-left: 4%;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(3n + 1),
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(3n + 1) {
    margin-left: 4%;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(2n + 1),
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(2n + 1) {
    margin-left: 0;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-1
    .ebd-each-directory
    .ebd-feat-img-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-each-directory
    .ebd-feat-img-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-3
    .ebd-each-directory
    .ebd-feat-img-wrap {
    width: 40%;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-each-directory
    .ebd-feat-img-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-each-directory
    .ebd-feat-img-wrap {
    width: 50%;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-1
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-3
    .ebd-each-directory
    .ebd-list-details-wrap {
    width: 60%;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-each-directory
    .ebd-list-details-wrap {
    width: 50%;
  }

  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-each-directory
    .ebd-list-details-wrap {
    padding: 30px 20px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-directory-category
    span.ebd-each-category {
    font-size: 12px;
    margin-bottom: 3px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-directory-category
    span.ebd-each-category
    a {
    line-height: 25px;
  }
  .ebd-grid-layout.ebd-grid-template-1
    .ebd-each-directory
    .ebd-dir-img-wrap
    .ebd-content-mix-up-wrap {
    padding: 15px 20px;
  }
  .ebd-grid-layout.ebd-grid-template-1
    .ebd-each-directory
    .ebd-dir-img-wrap
    .ebd-content-mix-up-wrap
    h2,
  .ebd-grid-layout.ebd-grid-template-2
    .ebd-each-directory
    .ebd-dir-img-wrap
    .ebd-content-mix-up-wrap
    h2,
  .ebd-grid-layout.ebd-grid-template-3
    .ebd-each-directory
    .ebd-extra-content-wrap
    h2,
  .ebd-grid-layout.ebd-grid-template-4
    .ebd-each-directory
    .ebd-extra-content-wrap
    h2,
  .ebd-grid-layout.ebd-grid-template-5
    .ebd-each-directory
    .ebd-dir-img-wrap
    .ebd-cont-mix-two
    h2 {
    font-size: 16px;
    padding: 0 30px;
  }
  .ebd-grid-layout.ebd-grid-template-3
    .ebd-each-directory
    .ebd-extra-content-wrap
    h2 {
    padding-left: 0;
    margin-top: 10px;
  }
  .ebd-grid-layout.ebd-grid-template-1
    .ebd-each-directory
    .ebd-dir-img-wrap
    .ebd-directory-category
    .ebd-each-category {
    margin-bottom: 5px;
  }
  .ebd-search-form-wrap form .ebd-search-field {
    width: 50% !important;
    margin-bottom: 15px;
  }
  .ebd-search-form-wrap form .ebd-search-field.ebd-srch-submit-field {
    width: auto !important;
    margin: 0 auto;
  }
  .ebd-search-form-wrap.ebd-search-secs-1.ebd-search-template-1
    form
    .ebd-search-field.ebd-srch-submit-field,
  .ebd-search-form-wrap.ebd-search-secs-3.ebd-search-template-1
    form
    .ebd-search-field.ebd-srch-submit-field {
    margin-top: 21px;
  }
  .ebd-search-template-1 .ebd-search-field input[type="submit"] {
    padding: 0 20px;
  }
  .ebd-search-template-2 .ebd-search-field input[type="submit"] {
    padding: 0 30px 0 50px;
  }
  .ebd-search-form-wrap.ebd-search-template-3 form {
    border: none;
    padding: 0;
  }
  .ebd-search-form-wrap.ebd-search-template-3 form .ebd-search-field {
    border: 1px solid #a2a2a2;
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  .ebd-search-template-3 .ebd-search-field:before {
    display: none;
  }
  .ebd-search-template-3 .ebd-search-field input[type="text"],
  .ebd-search-template-3 .ebd-search-field select {
    height: 35px;
    line-height: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
  }
  .ebd-search-template-3 .ebd-search-field select {
    background-position: right 5px center;
  }
  .ebd-search-form-wrap.ebd-search-template-3 form .ebd-search-field {
    width: 49% !important;
    margin-right: 2%;
  }
  .ebd-search-form-wrap.ebd-search-template-3
    form
    .ebd-search-field:nth-of-type(2n) {
    margin-right: 0;
  }
  .ebd-search-form-wrap.ebd-search-template-3
    form
    .ebd-search-field.ebd-srch-submit-field {
    width: auto !important;
    -webkit-border-radius: 45px;
    border-radius: 45px;
    border: none;
  }
  .ebd-search-template-3 .ebd-search-field input[type="submit"] {
    padding: 0 45px 0 30px;
    height: 40px;
    line-height: 40px;
  }
  /* .ebd-search-template-4 .ebd-search-field input[type="submit"]{
		padding: 0 20px;
	} */
  .ebd-search-form-wrap.ebd-search-template-5 form {
    border: none;
    padding-right: 0;
  }
  .ebd-search-form-wrap.ebd-search-template-5 form .ebd-search-field {
    width: 49% !important;
    border: 1px solid #d6d6d6;
    margin-right: 2%;
  }
  .ebd-search-form-wrap.ebd-search-template-5
    form
    .ebd-search-field:nth-of-type(2n) {
    margin-right: 0;
  }
  .ebd-search-template-5 .ebd-search-field input[type="text"],
  .ebd-search-template-5 .ebd-search-field select {
    border: none;
    height: 40px;
    line-height: 40px;
  }
  .ebd-search-form-wrap.ebd-search-template-5
    form
    .ebd-search-field.ebd-srch-submit-field {
    width: 40px !important;
    height: 40px;
    line-height: 40px;
    position: relative;
    display: block;
  }
  .ebd-search-form-wrap.ebd-search-template-5 .ebd-srch-submit-field:before {
    height: 40px;
    line-height: 40px;
    width: 80px;
    font-size: 16px;
  }
  .ebd-search-template-5 .ebd-search-field input[type="submit"] {
    width: 80px;
    height: 40px;
    line-height: 40px;
    position: relative;
  }
  .ebd-detail-template-3 .ebd-secndwrap-desc .ebd-singdtl-mnbar {
    padding-right: 40%;
  }
  .ebd-detail-template-3 .ebd-secndwrap-desc .ebd-foot-wrap-tagsnsoc {
    width: 40%;
  }
  .ebd-detail-template-3 .ebd-social-information a {
    margin-top: 5px;
  }
  .ebd-detail-template-3
    .ebd-secndwrap-desc
    .ebd-singdtl-mnbar
    .ebd-content-wrap {
    padding-right: 15px;
  }
  .ebd-detail-template-1 .ebd-directory-category {
    margin-left: 20px;
  }
  .ebd-detail-template-1 .ebd-singlpge-expiry-dte {
    margin-right: 20px;
  }
  .ebd-detail-template-2
    .ebd-foot-wrap-tagsnsoc
    .ebd-contact-information-wrap
    .ebd-each-contact-information {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 992px) {
  .ebd-form-wrap.ebd-frontend-form-template-1,
  .ebd-form-wrap.ebd-frontend-form-template-2,
  .ebd-form-wrap.ebd-frontend-form-template-3,
  .ebd-form-wrap.ebd-frontend-form-template-5 {
    padding: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1 .ebd-social-sec .ebd-sub-field,
  .ebd-form-wrap.ebd-frontend-form-template-2 .ebd-social-sec .ebd-sub-field {
    width: 100%;
    margin-left: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(3n + 1),
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(3n + 1) {
    margin-left: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(2n + 1),
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-social-sec
    .ebd-sub-field:nth-of-type(2n + 1) {
    margin-left: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1 .ebd-each-frontend-field {
    margin-bottom: 25px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1 .ebd-each-frontend-field {
    padding: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-each-frontend-field.ebd-extra-custom-fld {
    padding: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1 .ebd-contact-sec .ebd-sub-field,
  .ebd-form-wrap.ebd-frontend-form-template-1 .ebd-location-sec .ebd-sub-field,
  .ebd-form-wrap.ebd-frontend-form-template-2 .ebd-contact-sec .ebd-sub-field,
  .ebd-form-wrap.ebd-frontend-form-template-2 .ebd-location-sec .ebd-sub-field {
    width: 100%;
    margin-left: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-each-frontend-field
    label.ebd-title-field {
    font-size: 18px;
    padding: 20px;
    padding-left: 40px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-each-frontend-field.ebd-social-sec
    label.ebd-title-field {
    margin-bottom: 30px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-each-frontend-field
    label.ebd-title-field {
    margin: -15px -15px 25px -15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-each-frontend-field
    label.ebd-title-field:before {
    margin-left: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-each-frontend-field.ebd-social-sec
    label.ebd-title-field {
    margin-bottom: 30px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-each-frontend-field
    label.ebd-title-field:before {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-each-frontend-field
    label.ebd-title-field {
    padding: 25px;
    padding-left: 50px;
    font-size: 18px;
    margin: -15px -15px 15px -15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-each-frontend-field
    label.ebd-title-field:before {
    margin-left: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-each-frontend-field.ebd-social-sec
    .ebd-sub-field:last-of-type {
    margin-bottom: 10px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-each-frontend-field.ebd-social-sec
    .ebd-sub-field:last-of-type {
    margin-bottom: 30px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-each-frontend-field.ebd-social-sec
    .ebd-sub-field {
    margin-bottom: 40px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2 .ebd-each-frontend-field {
    padding: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-each-frontend-field.ebd-extra-custom-fld {
    padding: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1 select,
  .ebd-form-wrap.ebd-frontend-form-template-2 select {
    width: 100%;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1 label.ebd-checkbox-label,
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-options-wrap
    label.ebd-opt-main-sc,
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-options-wrap
    label.ebd-opt-main-sc,
  .ebd-form-wrap.ebd-frontend-form-template-2 label.ebd-checkbox-label,
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label.ebd-opt-main-sc,
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label.ebd-opt-main-sc,
  .ebd-form-wrap.ebd-frontend-form-template-3 label.ebd-checkbox-label,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-options-wrap
    label.ebd-opt-main-sc,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-options-wrap
    label.ebd-opt-main-sc {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3 label.ebd-checkbox-label,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-options-wrap
    label.ebd-opt-main-sc,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-options-wrap
    label.ebd-opt-main-sc {
    margin-bottom: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-1
    label.ebd-checkbox-label:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-options-wrap
    label.ebd-opt-main-sc:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-1
    .ebd-options-wrap
    label.ebd-opt-main-sc:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-2
    label.ebd-checkbox-label:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label.ebd-opt-main-sc:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label.ebd-opt-main-sc:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-3
    label.ebd-checkbox-label:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-options-wrap
    label.ebd-opt-main-sc:last-of-type,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-options-wrap
    label.ebd-opt-main-sc:last-of-type {
    margin-bottom: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label
    input[type="checkbox"]:checked
    + label,
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label
    input[type="checkbox"]:not(:checked)
    + label,
  .ebd-form-wrap.ebd-frontend-form-template-2
    label.ebd-checkbox-label
    input[type="checkbox"]:checked
    + label,
  .ebd-form-wrap.ebd-frontend-form-template-2
    label.ebd-checkbox-label
    input[type="checkbox"]:not(:checked)
    + label,
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label
    input[type="radio"]:checked
    + label,
  .ebd-form-wrap.ebd-frontend-form-template-2
    .ebd-options-wrap
    label
    input[type="radio"]:not(:checked)
    + label {
    font-size: 12px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3 .ebd-each-frontend-field {
    margin-bottom: 30px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field.ebd-social-sec
    .ebd-sub-field {
    margin-bottom: 35px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field.ebd-social-sec
    label.ebd-title-field {
    margin-bottom: 10px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    label.ebd-title-field {
    margin: -15px -15px 0px -15px;
    padding: 25px 15px;
    padding-left: 50px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    label.ebd-title-field:before {
    margin-left: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3 .ebd-each-frontend-field {
    padding: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    label.ebd-fst-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-social-sec
    .ebd-sub-field
    .ebd-field,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field.ebd-title-sec
    .ebd-field {
    width: 100%;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    .ebd-sub-field {
    margin-bottom: 20px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    .ebd-sub-field
    label {
    margin-bottom: 8px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-social-sec
    .ebd-sub-field
    label {
    display: block;
    margin-bottom: 20px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    input[type="text"],
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    input[type="email"],
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    input[type="url"],
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    input[type="password"],
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    input[type="search"],
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field
    textarea {
    width: 100%;
    display: block;
    line-height: 40px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field.ebd-social-sec
    .ebd-sub-field:last-of-type {
    margin-bottom: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field.ebd-extra-custom-fld
    .ebd-field,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-contact-sec
    .ebd-sub-field
    .ebd-field,
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-location-sec
    .ebd-sub-field
    .ebd-field {
    width: 100%;
    display: block;
  }
  .ebd-frontend-form-template-3 .ebd-extra-custom-fld > label {
    margin-bottom: 10px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3 select {
    width: 100%;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field.ebd-datepicker-title-wrap
    .ebd-field.ebd-datepicker-wrap {
    width: 100%;
  }
  .ebd-form-wrap.ebd-frontend-form-template-3
    .ebd-each-frontend-field.ebd-datepicker-title-wrap
    label.ebd-fst-title {
    font-size: 16px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4 .ebd-each-frontend-field {
    margin-bottom: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    input[type="text"],
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    input[type="email"],
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    input[type="url"],
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    input[type="password"],
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    input[type="search"],
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    textarea {
    line-height: 40px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    textarea {
    line-height: unset;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    label.ebd-fst-title {
    top: 12px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    label.ebd-title-field {
    font-size: 18px;
    margin-bottom: 25px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field.ebd-social-sec
    label.ebd-title-field {
    margin-bottom: 25px;
    padding-left: 25px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field.ebd-social-sec
    .ebd-sub-field {
    margin-bottom: 20px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-each-frontend-field
    label.ebd-title-field.ebd-image-field {
    margin-bottom: 25px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4 select {
    line-height: 40px;
    font-size: 14px;
  }
  .ebd-form-wrap
    .ebd-each-frontend-field.ebd-datepicker-title-wrap
    .ebd-field.ebd-datepicker-wrap:before,
  .ebd-form-wrap
    .ebd-each-frontend-field.ebd-extra-custom-fld
    .ebd-field.ebd-datepicker-wrap:before {
    margin-left: 15px;
    font-size: 16px;
  }
  .ebd-form-wrap
    .ebd-each-frontend-field.ebd-datepicker-title-wrap
    .ebd-field.ebd-datepicker-wrap
    input[type="text"],
  .ebd-form-wrap
    .ebd-each-frontend-field.ebd-extra-custom-fld
    .ebd-field.ebd-datepicker-wrap
    input[type="text"],
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-each-frontend-field.ebd-extra-custom-fld
    .ebd-field.ebd-datepicker-wrap
    input[type="text"] {
    padding-left: 40px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4 .ebd-social-sec .ebd-sub-field {
    width: 100%;
    margin-left: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4 label.ebd-checkbox-label,
  .ebd-form-wrap.ebd-frontend-form-template-4
    .ebd-options-wrap
    label.ebd-opt-main-sc {
    width: 100%;
    display: block;
    margin-bottom: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4 .ebd-contact-sec .ebd-sub-field,
  .ebd-form-wrap.ebd-frontend-form-template-4 .ebd-location-sec .ebd-sub-field {
    width: 100%;
    margin-left: 0;
    display: block;
  }
  .ebd-form-wrap.ebd-frontend-form-template-4 select {
    width: 100%;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5 label.ebd-checkbox-label,
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-options-wrap
    label.ebd-opt-main-sc {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5 .ebd-each-frontend-field {
    padding: 20px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-each-frontend-field.ebd-extra-custom-fld {
    padding: 0;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-each-frontend-field
    label.ebd-title-field {
    padding: 20px 45px;
    font-size: 18px;
    margin: -20px -20px 40px -20px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-each-frontend-field.ebd-contact-sec
    label.ebd-title-field {
    margin-bottom: 20px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-each-frontend-field
    label.ebd-title-field:before {
    margin-left: 20px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-each-frontend-field
    .ebd-sub-field,
  .ebd-form-wrap.ebd-frontend-form-template-5
    .ebd-each-frontend-field.ebd-social-sec
    .ebd-sub-field {
    margin-bottom: 20px;
  }
  .ebd-form-wrap
    .ebd-each-frontend-field.ebd-extra-custom-fld
    .ebd-field.ebd-datepicker-wrap
    input[type="text"] {
    padding-left: 40px;
  }
  .ebd-form-wrap.ebd-frontend-form-template-5 select {
    width: 100%;
  }
  .ebd-pro-prev-holder {
    width: 80px;
  }
  .ebd-pro-prev-holder img {
    width: 80px;
  }
  .ebd-pro-prev-holder .ebd-prev-name {
    width: 80px;
  }

  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-1
    .ebd-each-directory
    .ebd-feat-img-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-each-directory
    .ebd-feat-img-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-3
    .ebd-each-directory
    .ebd-feat-img-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-each-directory
    .ebd-feat-img-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-each-directory
    .ebd-feat-img-wrap {
    width: 100%;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-1
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-3
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-each-directory
    .ebd-list-details-wrap {
    width: 100%;
    padding-left: 0;
    margin-top: 10px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-each-directory
    .ebd-list-details-wrap,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-each-directory
    .ebd-list-details-wrap {
    margin-top: 0;
    padding: 30px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-each-directory {
    padding: 0;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-each-directory
    .ebd-list-details-wrap {
    padding: 15px 30px 10px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-3
    .ebd-each-directory.ebd-featured-directory,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-3
    .ebd-each-directory {
    padding: 15px;
  }
  .ebd-grid-layout .ebd-main-grid-wrap .ebd-each-directory {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
    float: none;
  }
  .ebd-main-wrap.ebd-small-width-container
    .ebd-grid-layout
    .ebd-main-grid-wrap
    .ebd-each-directory {
    margin-right: auto;
  }
  .ebd-grid-layout .ebd-main-grid-wrap .ebd-each-directory:nth-of-type(2n) {
    margin-right: auto;
  }
  .ebd-grid-layout.ebd-grid-column-3 .ebd-main-grid-wrap .ebd-each-directory {
    width: 49%;
    margin-right: 1%;
    margin-bottom: 40px;
  }
  .ebd-grid-layout.ebd-grid-column-3
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(3n) {
    margin-right: 1%;
  }
  .ebd-grid-layout.ebd-grid-column-3
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(2n) {
    margin-right: 0;
  }
  .ebd-grid-layout.ebd-grid-column-4 .ebd-main-grid-wrap .ebd-each-directory {
    width: 49%;
    margin-right: 1%;
    margin-bottom: 40px;
  }
  .ebd-grid-layout.ebd-grid-column-4
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(3n) {
    margin-right: 1%;
  }
  .ebd-grid-layout.ebd-grid-column-4
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(2n) {
    margin-right: 0;
  }
  .ebd-grid-layout.ebd-grid-column-4
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(4n) {
    margin-right: 0;
  }
  .ebd-main-wrap.ebd-small-width-container
    .ebd-grid-layout
    .ebd-main-grid-wrap
    .ebd-each-directory {
    margin-right: auto !important;
  }
  .ebd-main-outer-wrap.ebd-left-sidebar .ebd-content-area,
  .ebd-main-outer-wrap.ebd-right-sidebar .ebd-content-area {
    width: 100%;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
  }
  .ebd-main-outer-wrap.ebd-left-sidebar #secondary.widget-area,
  .ebd-main-outer-wrap.ebd-right-sidebar #secondary.widget-area {
    width: 100%;
    max-width: 350px;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    margin: 20px auto 0;
    padding: 0;
  }
}
@media screen and (max-width: 910px) {
  .ebd-detail-template-main-wrap {
    padding: 0 15px;
  }
}
@media screen and (max-width: 768px) {
  .ebd-detail-template-3 .ebd-secndwrap-desc {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  .ebd-detail-template-3 .ebd-secndwrap-desc:before,
  .ebd-detail-template-3 .ebd-secndwrap-desc:after {
    display: none;
  }
  .ebd-detail-template-3 .ebd-secndwrap-desc .ebd-singdtl-mnbar {
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    width: 100%;
    padding: 30px 0;
  }
  .ebd-detail-template-3 .ebd-secndwrap-desc .ebd-foot-wrap-tagsnsoc {
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    position: relative;
    display: block;
    width: 100%;
  }
  .ebd-detail-template-1,
  .ebd-detail-template-2,
  .ebd-detail-template-3 {
    padding: 0 30px;
  }
  .ebd-detail-template-1
    .ebd-secndwrap-desc
    .ebd-foot-wrap-tagsnsoc
    .ebd-directory-tags {
    width: 100%;
    display: block;
    margin-bottom: 25px;
  }
  .ebd-detail-template-1 .ebd-directory-category .ebd-each-category a {
    padding: 0 6px;
    line-height: 25px;
  }
  .ebd-detail-template-1 .ebd-secndwrap-desc h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .ebd-detail-template-1 .ebd-secndwrap-desc .ebd-contact-information-wrap {
    padding: 20px;
    margin: 25px 0;
  }
  .ebd-detail-template-1
    .ebd-secndwrap-desc
    .ebd-contact-information-wrap
    .ebd-each-contact-information
    .ebd-info-value,
  .ebd-detail-template-1
    .ebd-secndwrap-desc
    .ebd-contact-information-wrap
    .ebd-each-location-information
    .ebd-info-value {
    padding-left: 25px;
  }
  .ebd-detail-template-2
    .ebd-foot-wrap-tagsnsoc
    .ebd-contact-information-wrap
    .ebd-each-contact-information {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
  .ebd-detail-template-2 .ebd-foot-wrap-tagsnsoc .ebd-social-information {
    margin-top: 10px;
  }
  .ebd-detail-template-3 .ebd-singl-dtl-top-wrap h1,
  .ebd-detail-template-2 .ebd-singl-dtl-top-wrap h1 {
    font-size: 26px;
    line-height: 1.25;
  }
  .ebd-directory-categories-list-wrap .ebd-main-category-wrap {
    width: 100%;
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .ebd-grid-layout.ebd-grid-column-3 .ebd-main-grid-wrap .ebd-each-directory {
    width: 100%;
    float: none;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .ebd-grid-layout.ebd-grid-column-3
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(3n) {
    margin-right: auto;
  }
  .ebd-grid-layout.ebd-grid-column-3
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(2n) {
    margin-right: auto;
  }

  .ebd-grid-layout.ebd-grid-column-4 .ebd-main-grid-wrap .ebd-each-directory {
    width: 100%;
    float: none;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .ebd-grid-layout.ebd-grid-column-4
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(3n) {
    margin-right: 0;
  }
  .ebd-grid-layout.ebd-grid-column-4
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(2n) {
    margin-right: 0;
  }
  .ebd-grid-layout.ebd-grid-column-4
    .ebd-main-grid-wrap
    .ebd-each-directory:nth-of-type(4n) {
    margin-right: 0;
  }
  .ebd-directory-categories-list-wrap
    .ebd-main-category-wrap
    .ebd-category-head
    a {
    -ms-word-break: break-all;
    word-break: break-all;
  }
}
@media screen and (max-width: 450px) {
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-1
    .ebd-each-directory {
    padding: 15px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-1
    h2.ebd-list-title,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    h2.ebd-list-title,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-3
    h2.ebd-list-title,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    h2.ebd-list-title,
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    h2.ebd-list-title {
    font-size: 18px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-1
    .ebd-each-directory {
    margin: 30px 0;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-directory-location
    .ebd-location-sim-styl
    span {
    padding-left: 40px;
    padding-right: 20px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-2
    .ebd-each-directory
    .ebd-list-details-wrap {
    padding: 10px 20px 5px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-each-directory
    .ebd-list-details-wrap {
    padding: 20px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-directory-location
    .ebd-location-sim-styl:first-of-type {
    margin-left: 15px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-4
    .ebd-directory-location
    .ebd-location-sim-styl {
    margin-left: 25px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-each-directory
    .ebd-list-details-wrap {
    padding: 20px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap
    .ebd-directory-location
    .ebd-location-sim-styl {
    display: block !important;
    width: 100% !important;
    padding-right: 20px;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-expiry-date {
    display: block;
  }
  .ebd-main-wrap
    .ebd-directory-listing-wrap.ebd-list-template-5
    .ebd-directory-social {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ebd-grid-layout.ebd-grid-template-1
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social,
  .ebd-grid-layout.ebd-grid-template-1
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-expiry-date,
  .ebd-grid-layout.ebd-grid-template-2
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social,
  .ebd-grid-layout.ebd-grid-template-2
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-expiry-date,
  .ebd-grid-layout.ebd-grid-template-4
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-expiry-date,
  .ebd-grid-layout.ebd-grid-template-4
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social,
  .ebd-grid-layout.ebd-grid-template-5
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-expiry-date,
  .ebd-grid-layout.ebd-grid-template-5
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social {
    display: block;
    width: 100%;
    text-align: left;
    float: none;
  }
  .ebd-grid-layout.ebd-grid-template-1
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social,
  .ebd-grid-layout.ebd-grid-template-2
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social {
    margin: 10px 0;
  }
  .ebd-grid-layout.ebd-grid-template-4
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social,
  .ebd-grid-layout.ebd-grid-template-5
    .ebd-each-directory
    .ebd-extra-content-wrap
    .ebd-socialnexpdat
    .ebd-directory-social {
    margin-top: 10px;
  }
  .ebd-search-form-wrap form .ebd-search-field {
    width: 100% !important;
    margin-bottom: 15px;
    padding: 0;
  }
  .ebd-search-form-wrap form .ebd-search-field.ebd-srch-submit-field {
    width: 100% !important;
    margin: 0;
  }
  .ebd-search-template-1 .ebd-search-field input[type="submit"] {
    padding: 0 20px;
  }
  .ebd-search-template-2 .ebd-srch-submit-field:before {
    margin-left: 38%;
  }
  .ebd-search-template-2 .ebd-search-field input[type="text"] {
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
  }
  .ebd-search-template-2 .ebd-search-field select {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
  }
  .ebd-search-form-wrap.ebd-search-template-3 form .ebd-search-field {
    width: 100% !important;
  }
  .ebd-search-template-3 .ebd-search-field select {
    background-position: right 12px center;
  }
  .ebd-search-form-wrap.ebd-search-template-3
    form
    .ebd-search-field.ebd-srch-submit-field {
    width: 100% !important;
  }
  .ebd-search-template-3 .ebd-srch-submit-field:after {
    margin-right: 37%;
  }
  .ebd-search-form-wrap.ebd-search-template-5 form .ebd-search-field {
    width: 100% !important;
    margin-right: 0;
  }
  .ebd-search-form-wrap.ebd-search-template-5
    form
    .ebd-search-field.ebd-srch-submit-field,
  .ebd-search-form-wrap.ebd-search-template-5 .ebd-srch-submit-field:before,
  .ebd-search-template-5 .ebd-search-field input[type="submit"] {
    width: 100% !important;
  }
  .ebd-search-form-wrap.ebd-search-template-5 .ebd-srch-submit-field:before {
    left: 0;
  }
  .ebd-detail-template-3
    .ebd-secndwrap-desc
    .ebd-gallery-wrap
    .ebd-each-gallery,
  .ebd-detail-template-2
    .ebd-secndwrap-desc
    .ebd-gallery-wrap
    .ebd-each-gallery,
  .ebd-detail-template-1
    .ebd-secndwrap-desc
    .ebd-gallery-wrap
    .ebd-each-gallery {
    width: 24.75%;
  }
  .ebd-detail-template-3 .ebd-singlpge-expiry-dte {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
  .ebd-detail-template-2 .ebd-foot-wrap-tagsnsoc .ebd-social-information a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 14px;
  }
  .ebd-detail-template-2
    .ebd-singl-dtl-top-wrap
    .ebd-singlpg-expntags
    .ebd-singlpge-expiry-dte {
    display: block;
    width: 100%;
    margin-right: 0;
  }
  .ebd-detail-template-2
    .ebd-singl-dtl-top-wrap
    .ebd-singlpg-expntags
    .ebd-directory-tags {
    display: block;
    width: 100%;
    padding-left: 0;
    margin-top: 5px;
  }
  .ebd-detail-template-2
    .ebd-singl-dtl-top-wrap
    .ebd-singlpg-expntags
    .ebd-directory-tags:before {
    display: none;
  }
  .ebd-search-form-wrap.ebd-search-secs-1.ebd-search-template-1
    form
    .ebd-search-field.ebd-srch-submit-field,
  .ebd-search-form-wrap.ebd-search-secs-3.ebd-search-template-1
    form
    .ebd-search-field.ebd-srch-submit-field {
    margin-top: 0px;
  }
}
.ebd-col-3 {
  width: 30% !important;
  float: left;
}

.ebd-col-9 {
  width: 67% !important;
  float: right;
}
.ebd-col-1 {
  width: 100% !important;
}
.ebd-col-mt-20 {
  margin-top: 20px !important;
}
