/* Retina rules */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
	
	#branding .logo a img.normal_logo.show_logo, .side_logo a img.normal_logo{
		display: none;
	}
	
	#branding .logo a img.retina_logo.show_logo, .side_logo a img.retina_logo {
		display: block;
	}
}

@media only screen   
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	#branding .logo a img.retina_logo.original_logo {
  		display: block ;
  	}
  	#branding .logo a img.original_logo.normal_logo,
  	#branding .logo a img.retina_logo.custom_logo {
  		display: none !important;
  	}
}

@media only screen and (max-width: 1023px)
	and (-webkit-min-device-pixel-ratio: 1) { 
  	#branding .logo a img.original_logo.normal_logo {
  		display: block ;
  	}
  	#branding .logo a img.custom_logo.normal_logo {
  		display: none;
  	}
}


@media screen and (max-width: 1680px){
	.single-post .parallax_class {
		background-size: cover !important;
	}
	#container .row_full_width.design_modern {
		background-position-y:center;
	}
}
@media screen and (max-width: 1200px){
	.design_modern .modern_heading_title_wrap {
		padding-left:15px;
		padding-right:15px;
	}
}

/* Media queries  1160? */
@media screen and (max-width: 1170px){
	.inner_wrap .inner_wrap_margins {
		margin-left:15px;
		margin-right:15px;
	}
}
@media screen and (max-width: 1100px){
	.portfolio_content {
		width:70%;
	}
}
@media screen and (max-width: 1080px){

}
@media screen and (max-width: 1000px){
	#style_selector{
		display:none;
	}

}

@media screen and (max-width: 1025px){
	.custom.tp-bullets {
		display: none;
	}
	figure .effect-overlay .zoomin {
		display:none;
	}

	figure .effect-overlay .launch {
		border-radius: 0;
		-webkit-border-radius: 0;
		left:0;
		right: auto;
		margin-left:0;
		margin-right:0;
		margin-top:0;
		border:none;
		top:0;
		width:100%;
		height:100%;
	}
	.grid figure:hover .effect-overlay .launch,
	.grid figure:focus .effect-overlay .launch {
		top:0;
	}
	 figure.effect-zoe .effect-overlay .launch a {
		display:block;
		width:100%;
		height: 100%;
	}
	
	figure.effect-zoe .effect-overlay .launch a i {
		display:none;
	}
	.modern_mobile_navigation .responsive-menu-bar {
		padding:0;
		width:50px;
		height:50px;
		line-height: 50px;
		text-align: center;
	}
	.responsive-menu-link .mob_menu {
		margin:0;
	}
	.responsive_search_submit {
		border:0;
		position:absolute;
		right:-1px;
		background: #5bc98c;
		padding:0 15px;
		height:100%;
		color:#fff;
		cursor:pointer;
		-webkit-appearance: none;
		top:0;
	}
	.responsive-item {
		padding: 10px;
		border-bottom:1px solid rgba(128,128,128,.2);
	}
	.responsive-item input[type=text] {
		box-sizing:border-box;
		width:100%;
	}
	.header_search {
		position:relative;
		width:100% !important;
	}
	.bellow_header {
		padding: 20px 15px;
	}
	.boxed_layout .sticky_mobile {
		max-width: 990px;
	}
	.row_full {
		max-width: 100% !important;
	}
	.row {
		margin:auto;
	}
	h2.page404 span {
		font-size:4em;
	}
	h2.page404 {
		font-size:30px;
	}

	.woocommerce-page .row_full {
		padding-left:15px;
		padding-right:15px;
		box-sizing: border-box;
	}

	.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty {
		width: 50px;
		margin-right:0;
	}
	.woocommerce .group_table .quantity input.qty {
		width: 30px;
	}
	.woocommerce .group_table .quantity {
		max-width:90px;
		margin:10px;
	}
	.single-product .product .summary .group_table .price {
		max-width:80px;
	}
	
	.footer .inner {
		padding: 10px 15px;
	}
	.modern_video_background .video-container {
		display: none;
	}	
	.modern_overlay_effect {
		position: relative;
		opacity:1;
		padding:10px 0;
	}
	figure.modern_portfolio_layout .make_this_full {
		display: none;
	}
	.portfolio_content_wrap {
		top:0;
		transform:none;
		-webkit-transform:none;
	}
	figure.modern_portfolio_layout h3 {
		opacity: 1;
		top: 0;
		padding-bottom: 0px;
	}
	figure.modern_portfolio_layout span.portfolio_categ_list {
		position: relative;
		bottom: auto;
	}

	/* Modern Portfolio Single Page */

	.portfolio-modern {
		padding: 0 15px;
		box-sizing: border-box;
	}
	.sp_title_desc {
		margin: 30px 0;
	}
	.sp_title_desc h2.sp_title {
		font-size:40px;
	}

	.portfolio-modern .title_categ_over {
		position: relative;
		opacity: 1;
		padding: 10px 0;
	}
	.portfolio-modern .title_categ_over_wrap {
		top: 0;
		transform: none;
		-webkit-transform: none;
	}
	.portfolio-modern .title_categ_over_wrap h4 {
		left: auto;
	}
	.portfolio-modern .related_port_categ {
		right: auto;
	}	
	#container .wpb_content_element .tabs_style_5 .wpb_tabs_nav li {
		margin-right:0;
	}
	#container .wpb_content_element .wpb_tour_tabs_wrapper.tabs_style_5 .wpb_tabs_nav a {
		padding:20px;
	}
	#container .wpb_content_element .tabs_style_5 .wpb_tabs_nav li a span {
		font-size:15px;
		text-align: center;
	}
	.footer .instagram-pics li {
		width:16.66%;
		max-width: none;
	}	
	.second_navi_inner {
		width: calc(100% - 30px)!important;
	}

}

@media screen and (min-width: 960px) {
	/*.grid figure.cols-3 {
		max-width:360px;
	}*/
}
	
@media screen and (max-width: 960px) {
	/*
	.container{
		margin:0 auto !important; 
	}
	*/
	.table {
		display: table;   /* Allow the centering to work */
		margin: 0 auto;
	}
	.main-navigation {
		width:100%;
		float:none;
	}
	.additional_icons {
		display: none !important;
	}
	.front_widget{		
		width:47%;
		padding-right:15px;
	}
	.second, .last{
		border-right:none;
		margin-right: 0;
		padding-right: 0;
	}
	.div_bar{
		display:block;
		height:3px; width:100%; border-top:1px dotted #ccc; clear:both;
	}
	.footer_widget_content, .footer_columns_cols_3 .footer_widget_content, .footer_columns_cols_2 .footer_widget_content, .footer_columns_cols_4 .footer_widget_content{
		width:48%;
		margin-right:4%;
	}
	.footer_columns_cols_3 .footer_widget_content:nth-child(3n+1), .footer_columns_cols_4 .footer_widget_content:nth-child(4n+1) {
		clear:none;
	}
	.footer_columns_cols_2 .footer_widget_content:nth-child(2n), .footer_columns_cols_3 .footer_widget_content:nth-child(2n), .footer_columns_cols_4 .footer_widget_content:nth-child(2n) {
	    margin-right: 0;
	}
	.footer_columns_cols_2 .footer_widget_content:nth-child(2n+1), .footer_columns_cols_3 .footer_widget_content:nth-child(2n+1), .footer_columns_cols_4 .footer_widget_content:nth-child(2n+1) {
		clear:left;
	}	
	.forth{
		clear:none;
	}
	.third{
		clear: both;
	}

		
	.nav-top {
		padding-bottom:15px;	
		height:30px;
	}
	
	.nav-wrapper {
		float: none;
		margin: 0 auto;
		text-align: center;
		padding: 7px 0;
	}
	
	.nav-top, .nav-main, .nav-top ul, .nav-main ul {
		float: none;
	}

	.connect {
		float: none;
		margin: 0 auto;
		padding-top:10px;
		width:auto;
		display:inline-block;
	}

    .main{
        margin-right:0;
        width:100%;
		min-height: 0px;
    }

    a.commenttime {
        float:none;
        display:block;
        padding-bottom: 10px;
    }
    .comment-meta{
        line-height:20px;
    }

	.center{
		margin:3px;
	}
	.row_full {
		/*padding:30px 10px;*/
	}
	.vc_row-fluid {
		padding-left:10px;
		padding-right:10px;
	}
	
	.banner {
		text-align:center;
		padding-bottom: 30px;
		float:none;
	}
	.tab-holder .tabs li, .wpb_tabs .wpb_tabs_nav li {
		width: auto;
		float: none !important;
		display: block;
		text-align: left;
	}
	.wpb_tabs .tabs_style_2 .wpb_tabs_nav li:first-child, .wpb_tabs .tabs_style_3 .wpb_tabs_nav li:first-child, .wpb_tabs .tabs_style_4 .wpb_tabs_nav li:first-child {
		margin-left: 0 !important;
	}
	.wpb_content_element .tabs_style_4 .wpb_tabs_nav li.ui-tabs-active a {
		border-right-color:transparent !important;
	}
	.shortcode-tabs .tab-hold .tabs li.active a {
		border-bottom-color: #dde1e1;
	}
	.wpb_tour .wpb_tabs_nav, .wpb_tabs .wpb_tabs_nav {
		float: none !important;
		width: auto !important;
	}
	.wpb_tour .wpb_tabs_nav li {
		
	}
	.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a {
		border-right-color: #dde1e1 !important;
		border-bottom-color: #dde1e1 !important;
	}
	.wpb_content_element .wpb_tabs_nav li.ui-tabs-active a:after {
		width: auto !important;
		height: 3px !important;
		right: -1px !important;
		bottom: auto !important;

	}
	.wpb_tour .wpb_tour_tabs_wrapper .wpb_tab {
		left:0 !important;
		width: auto !important;
		float: none !important;
		margin-left: 0 !important;
	}
	.project-content.full_desc .project-description {
		float: none;
		width: auto;
	}
	/*
	#responsive_menu {
		display: none;
	}
	*/
	.grid figure h3 {
		font-size:13px;
	}
	.woo_login_form {
		right:50% !important;
		left: auto !important;
		transform: translateX(50%);
		-webkit-transform: translateX(50%);
	}

	.woocommerce form .form-row-first, .woocommerce form .form-row-last {
		float: none;
		width: 100%;
	}

	.modern_portfolio_half {
		margin:20px 0;
	}
	.modern_portfolio_content .sp_title_desc h2.sp_title {
		font-size: 40px;
	}
	
	.modern_portfolio_image, .modern_portfolio_content {
		width:100%;
		float: none;
	}
	#container .wpb_content_element .wpb_tour_tabs_wrapper.tabs_style_5 .wpb_tabs_nav a {
		padding:15px;

	}
	.header_right_side, .extra_header_button {
		float: none !important;
	}
	
}

@media screen and (max-width: 830px) {
	.mobile_view {
		display: inherit;
		visibility:visible;
	}
	.desktop_view {
		display: none;
		visibility:hidden;
	}
	#branding .logo a img.original_logo.desktop_logo,.side_logo a img.desktop_logo {
		display: none;
	}
	 #branding .logo a img.mobile_logo, .side_logo a img.mobile_logo {
		display:inherit;
	}
	/*
	#branding .logo a img.original_logo.normal_logo {
		display:block;
	}
	*/
	/* remove retina logo appearing on non retina devices.
	#branding .logo a img.original_logo.retina_logo {
		display:block;
	}*/
	#branding .logo a img.custom_logo.normal_logo {
		display:none;
	}
	#branding .logo.mobile_logo_render a img.original_logo, #branding .logo.mobile_logo_render a img.custom_logo {
		display: none !important;
	}
	
	.container {
		margin: 0 auto !important;
	}
	.side-header .fullscreenbanner {
		margin-left: 0 !important;
	}
	.side-header .header_inside_left, .side-header .header_inside_right {
		position: relative;
	}
	.side-header .header_inside_left, .side-header .header_inside_right {
		width:100% !important;
	}
	.admin-bar.side-header .header_inside_left, .admin-bar.side-header .header_inside_right {
		top: 0 !important;
	}
	.side-header .top_contact .contact_email {
		padding-right:20px;
	}
	.side_contact {
		padding: 10px 0;
	}
	.side_contact .top_contact {
		margin-left: 0;
		padding: 0;
	}
	.side_social .top_social, .side_contact .top_contact, .side_search {
		padding: 0;
	}
	.side_social .top_social a {
		float: none;
		display:inline-block;
	}
	.side_logo a img {
		margin:0 auto;
		display: block; 
		padding: 20px 0 25px;
	}
	.side_search {
		display: none;
	}
	.header .inner {
		padding: 0;
		display: block;
	}
	
	.tb_left, .tb_right {
		float: none;
	}
	.separator_right {
		padding-right: 0 !important;
		margin-right: 0 !important;
		border-right: none !important;
	}
	.top_navigation {
		text-align: center;
	}
	
	#responsive_menu li:not(.menu-item){
		display:none;
	}
	#responsive_menu li.menu-item-resp {
		display:block;
	}
	
	.top_nav {
		padding:0;
	}

	#header-search {
		display: none;
	}
	.header_transparent {
		position: relative !important;
		/*background-color: inherit !important;*/
	}
	#navigation, .side_navigation #navigation {
		display: none !important;
	}
	.sf-sub-indicator {
		display: block !important;
	}
	.top_navigation .sf-sub-indicator {
		display: initial !important
	}
	#responsive_navigation {
		display: block;
	}
	.responsive-menu-link {
		display:block;
		position: relative;
		top: auto;
		right:auto;
		margin-top:0;
		padding-bottom:0 !important;
	}
	.mob_menu {
		width:100%;
		margin-bottom:0;
		margin-left:-10px;
		font-size:16px;
	}
	.pi-header-row-fixed .header_wrap {
		padding-bottom:0;
	}
	
	#branding, nav#nav, nav#sticky-nav {
		
	}
	#branding {
		text-align: center;
		float: none;
		display: block !important;
		margin: auto;
	}
	.navigation_modern #branding .text_logo{
		text-align: left;
		margin-left:10px;
	}
	.full_header {
		height: auto !important;
	}
	.logo_separator {
		display: none;
	}
	.extra_header_button {
		display: block !important;
		text-align: center;
		margin-bottom:20px;		
	}
	.extra_header_button a {
		margin-right:0;
	}
	.nav-holder ul, nav#nav {
		display:none;
	}
	#branding .logo a img {
		margin: 0 auto;
		height: auto !important;
	}
	.navigation_modern #branding .logo a img{
		display:block;
		margin:0;
		margin-left:10px;
		padding-right:60px;
		max-height:100px;
	}
	.modern_mobile_navigation, .modern_mobile_wrapper {
		display: block;
	}	
	
	.pi-header-row-fixed .sticky_h {
		position:relative;
	}
	.pi-header-row-fixed .full_header {
		padding-bottom: 0;
	}
	.admin-bar.pi-header-row-fixed .sticky_h {
		top: 0;
	}
	
	.portfolio-misc-responsive{
		border-bottom:none;
		width:100%;
		margin-right:0;

		float:none;
	}
	.portfolio-misc-info-left {
		float: none;
		width:100%;
	}
	
	.container .post_container {
		float:none;
		width:100%;
	}
	.container .sidebar{
		float:none;
		width:100%;
		margin-top:40px;
	}
	
	input[type=text],textarea {
		/*margin-top:30px;*/
	}
	.contact-form input[type="text"],.contact-form textarea{
		margin-top: 0;
	}
	
	.half {
		width:99%; float:none;
	}
	.half_desc {
		width:99%; float:none;
	}
	.flexslider .slides img {width: 100%; }
	
	#branding h1.text, #branding .tagline {
		margin-left: 0;
	}
	#branding .tagline {
		padding-bottom:25px;
	}
	.second_navi {
		display: none;
	}
	.top_contact {
		float: none;
		width: 100%;
		text-align:center;
		margin:0;
		border-bottom:1px solid #e5e2e2;
		
	}
	
	.top_contact .contact_email, .top_contact .contact_phone, .top_contact .contact_address {
		float:none;
		display: inline-block;
	}
	
	.top_social {
		float:none;
		width: 100%;
		text-align:center;
	}
	
	.top_social a {
		float: none;
		display:inline-block;
		margin-bottom:10px;
	}
	
	.tap_to_call {
		display:block;
		text-align:center;
		margin-bottom:10px;
	}
	.breadcrumb_search_form {
		width:auto;
	}
	video {
		display:none;
	}
	
	#responsive_navigation.sticky_mobile {
		position:fixed;
		top:0;
		width:100%;
		z-index:9999;
	}
	
	.youtube-bg {
		display: inherit;
	}	

	.footer .instagram-pics.instagram-size-small li {
		width:20%;
		max-width:none;
	}
	.footer .instagram-pics.instagram-size-large li {
		max-width: none;
		width:25%;
	}

	.header .modern_cta {
		margin-top: 10px;
    	border-left: none;
    	margin-left: 0;
    	padding-left: 0;
    	text-align: center;
    	float: none;
	}
	.header .modern_social_icons {
		margin-top: 10px;
		padding-bottom: 20px;
		float: none;
	}

}

/* Custom 3d styling for Apple Devices */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	/*.grid figure.cols-4, .grid figure.cols-5 {
		max-width:230px;
	}
	.grid.fullscreen figure.cols-4 {
		max-width:none;
	}
	.grid figure.cols-3 {
		max-width: 315px;
	}
	
	.grid figure h3 {
		font-size:13px;
	}
	.grid figure.cols-2 {
		max-width: 480px;
	}
	*/
	
	.grid figure.cols-3 {
		max-width: 31%;
	}
	.parallax_class {
		background-attachment: scroll !important;
		background-position: center !important;
		background-size: cover !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) 
{
	.vc_row .inner_wrap_margins #content {
		margin-left: 0;
		margin-right: 0;
	}
	/*
	.grid figure.cols-4, .grid figure.cols-5 {
		max-width:165px;
	}
	.grid figure.cols-3 {
		max-width:225px;
	}
	.grid.fullscreen figure.cols-3 {
		max-width: 230px;
	}
	.grid figure.cols-2 {
		max-width: 340px;
	}
	.grid.fullscreen figure.cols-3 {
		max-width: 235px !important;
	}
	*/
	.grid.fullscreen figure.cols-4, .grid.fullscreen figure.cols-5 {
		width: 33%;
		margin:0;
	}
	.grid figure.cols-4, .grid figure.cols-5 {
		width:31%;		
	}
	/*
	.grid figure.cols-4:nth-child(4n) {
		margin-right:inherit;
	}
	.grid figure.cols-4:nth-child(3n), .grid figure.cols-5:nth-child(3n) {
		margin-right:0;
	}
	*/
	/*
	.grid figure.cols-2 {
		width:47%;
	}
	*/
	#content.portfolio-three .portfolio-item, #content .portfolio-3 {
		width: 340px ;
	}
	#content .portfolio-3 {
		height: 242px ;
	}
	
	#content .ch-info .ch-info-back3 {
		-webkit-transform: translate3d(0,0,-340px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-340px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-340px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-340px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-340px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	#content .ch-item:hover .ch-info-front3 {
		-webkit-transform: translate3d(0,340px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,340px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,340px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,340px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,340px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}
	#content.portfolio-two .portfolio-item, #content .portfolio-2 {
		width: 350px ;
	}
	#content .portfolio-2 {
		height: 225px ;
	}
	#content .ch-info .ch-info-back2 {
		-webkit-transform: translate3d(0,0,-350px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-350px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-350px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-350px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-350px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	#content .ch-item:hover .ch-info-front2 {
		-webkit-transform: translate3d(0,350px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,350px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,350px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,350px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,350px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}
	/*
	.vc_row .vc_col-sm-3 {
		width:50%;
	}
	*/
	
	
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#content.portfolio-three .portfolio-item, #content .portfolio-3 {
		width: 310px ;
	}
	#content .portfolio-3 {
		height: 221px ;
	}
	#content .ch-info .ch-info-back3 {
		-webkit-transform: translate3d(0,0,-310px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-310px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-310px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-310px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-310px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	#content .ch-item:hover .ch-info-front3 {
		-webkit-transform: translate3d(0,310px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,310px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,310px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,310px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,310px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}
	
	#content.portfolio-two .portfolio-item, #content .portfolio-2 {
		width: 480px ;
	}
	#content .portfolio-2 {
		height: 308px ;
	}
	#content .ch-info .ch-info-back2 {
		-webkit-transform: translate3d(0,0,-480px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-480px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-480px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-480px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-480px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	#content .ch-item:hover .ch-info-front2 {
		-webkit-transform: translate3d(0,480px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,480px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,480px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,480px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,480px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}
}

@media screen and (max-width: 768px){
	/*.vc_row[data-vc-full-width] {
		width: 100%;
	}
	.single .vc_row[data-vc-full-width] {
		width: 100% !important;
		left: 0 !important;
		padding-right:0 !important;
		margin-right:0 !important;
	}*/
	.responsive-menu-bar {
		padding: 15px;
	}/*
	.bellow_header {
		padding:5px 15px;
	}*/
	.row {
		padding:20px;
		margin-top:0;
	}
	.blogpost.grid_posts.columns-5, .blogpost.grid_posts.columns-4 {
		width: 32%;
	}
	.blogpost.grid_posts.columns-5:nth-child(5n+1),.blogpost.grid_posts.columns-4:nth-child(4n+1) {
		clear:none;
	}
	.blogpost.grid_posts.columns-5:nth-child(3n+1), .blogpost.grid_posts.columns-4:nth-child(3n+1) {
		clear:left;
	}
	.blogpost.grid_posts.columns-5:first-child,.blogpost.grid_posts.columns-4:first-child {
		clear:none;
	}
	.blogpost.grid_posts.columns-5:nth-child(3n),.blogpost.grid_posts.columns-4:nth-child(3n) {
		margin-right:0;
	}
	

	.nav-wrapper {
		padding: 3px 0 3px 0;
	}
	.portfolio-one .portfolio-item {
		width:540px;
	}
	.full .image_show {
		float:none; margin-bottom:15px; padding:0;
	}
	.full .title, .full .args, .full p {
		padding-left:0;
	}
	
	.menu ul {
		left:3px;
	}


    .footer nav {
        float: none;
        margin: 0 auto;
        clear: both;
        text-align: center;
        padding: 0px 0px 40px 0px;
    }


	.footer_branding{
		float:none;
		margin:17px auto 10px auto;
		text-align:center;
		border-top:1px solid #3c3c3c;
		padding-top:18px;
	}

	.nav-top ul li a, 
	.nav-main ul li a{
		margin: 0 3px;
	}	

	.copyright {
		float:none;
		text-align:center;
		margin:10px auto;
	}	

	.footer_navigation {
		float: none;
		text-align:center;
	}
	
	.action_bar_inner {
		text-align:center;
	}
	
	.action_bar_inner h2 {
		padding-right:0;
	}
	
	.action_bar_inner a.custompos {
		position:relative;
		right:auto;
		top:auto;
		margin-top:10px;
	}
	
	.banner img {
		width: 100%;
		height: auto;
	}
	.full .description {
		top: auto;
		margin-bottom:20px;
		padding:0 10px;
	}
	.col, .event_calendar_wrap .col.columns-4, .event_calendar_wrap .col.columns-3 {
		width:46%;
	}
	.event_calendar_wrap .col.columns-3:nth-child(3n){
	    margin-right: 3.33%;
	}
	.event_calendar_wrap .col.columns-4:nth-child(4n) {
	    margin-right: 3%;
	}
	 
	/*
	.col:nth-child(3n) {
		clear:left;
	}*/
	
	
	.vc_row .inner_wrap_margins #content {
		margin-left: 0;
		margin-right: 0;
	}
	/*.grid.fullscreen figure.cols-5, .grid.fullscreen figure.cols-4, .grid.fullscreen figure.cols-3 {
		max-width: 360px;
	}*/
	.col.columns-3 {
		width: 47%;
	}
	.col.columns-3:nth-child(3n+1) {
		clear: none;
	}
	.portfolio-related .recent_posts_container article.col.extra-width-full-port:nth-child(5n+1), .post_container_full .recent_posts_container article.col.extra-width-full:nth-child(5n+1) {
		clear: none;
	}
	
	.portfolio-related .recent_posts_container article.col.extra-width-full-port:nth-child(3n+1), .post_container_full .recent_posts_container article.col.extra-width-full:nth-child(3n+1) {
		clear: both;
	}
	.extra-width-full-port, .extra-width-full {
		width: 32% !important;
	}
	.tribe-events-calendar div[id*=tribe-events-daynum-], .tribe-events-calendar div[id*=tribe-events-daynum-] a, .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-]>a {
		background-color:transparent;
	}

	.tribe-events-calendar tr:nth-child(even) {
		background-color: #f9f9f9;
	}
	#tribe-events-footer~a.tribe-events-ical.tribe-events-button {
		padding:12px 15px;
	}
	
	#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover, .tribe-events-calendar td.tribe-events-present.mobile-active, .tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] a, .tribe-events-calendar td.mobile-active {
		background-color: #666;
	}
	
	.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present.mobile-active, .tribe-events-calendar td.tribe-events-present,
	.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
		background-color: #666;
	}
	.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
		color: #fff;
	}
	.tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-], .tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] a {
		color:#fff;
		background-color:#999999;
	}
	#tribe-events-content .tribe-events-calendar td.tribe-events-has-events.mobile-trigger,
	.tribe-events-calendar td.tribe-events-has-events.mobile-trigger div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-has-events.mobile-trigger div[id*=tribe-events-daynum-] a{
		background-color:#2f852e;
		color:#ffffff;
	}
	.tribe-events-calendar .tribe-events-has-events:after,
	.tribe-events-calendar .tribe-events-past.tribe-events-has-events:after {
		background-color:#fff;
	}
	.tribe-events-calendar td.mobile-active,#tribe-events-content .tribe-events-calendar .mobile-active:hover{
		background-color:#999999;
	}
	#tribe-mobile-container .type-tribe_events {
		padding:20px;
		border:1px solid #ededed;
	}
	#tribe-mobile-container .type-tribe_events h4{
		font-weight:700;
	}
	#tribe-mobile-container .type-tribe_events .time-details {
		font-weight:normal;
	}
	#tribe-events-bar #tribe-bar-views .tribe-bar-views-inner{
		padding:10px 0 40px;
	}
	.tribe-bar-collapse #tribe-bar-collapse-toggle {
		padding:25px;
	}
	#tribe-events-bar .tribe-bar-filters-inner {
		display:block;
	}
	.event_image {
		width:23%;
	}
	.tribe-events-list .tribe-events-loop .tribe-events-content, #tribe-events .tribe-events-loop .tribe-events-content {
		width:50%;
		padding:20px;
		padding-left: 0;
		padding-top: 15px;
	}
	.tribe-events-loop .tribe-events-event-meta {
		min-height: auto;
		padding-left: 0;
		padding-right: 0;
		border-right:none;
		border-top:none;
		border-bottom:none;
		width:27%;
	}
	.tribe-events-list .tribe-events-event-cost {
		display: block;
		margin-left:20px;
	}

	/* Single Event */
	.tribe-events-event-meta .column, .tribe-events-event-meta.primary .tribe-events-meta-group {
		width:100%;
	}
	.single-tribe_events .tribe-events-schedule .tribe-events-cost {
		display: initial;
	}
	.blogpost .post-content .tribe-events-schedule {
		padding:0 0 10px;
		background: transparent;
		border-left:none;
		border-right: none;
		border-top: none;
	}

	.cr_adv_tables.columns_5 .col_content,
	.cr_adv_tables.columns_4 .col_content,
	.cr_adv_tables.columns_3 .col_content {
		width: 50%;
		margin-bottom:30px;
	}
	.cr_adv_tables.columns_5 .col_content:nth-child(2n+1),
	.cr_adv_tables.columns_4 .col_content:nth-child(2n+1),
	.cr_adv_tables.columns_3 .col_content:nth-child(2n+1)
	.cr_adv_tables.columns_2 .col_content:nth-child(2n+1) {
		clear:left;
	}

	.vc_row[data-vc-full-width].enable_overflow .vc_column_container>.vc_column-inner,
	.enable_overflow .wpb_single_image{
		margin-top:0 !important;
	}

	.third_width span.wpcf7-form-control-wrap,
	.half_width span.wpcf7-form-control-wrap {
		width: 100% !important;
		float: none;
		margin-right:0 !important;
	}

	.third_width span[class*="textarea"] {
		margin-bottom:10px !important;
	}
/*
  	body .cr_image_with_hotspots .cr_hotspot_wrap .nttip { 
  		position: fixed!important;
  		left: 0!important;
  		top: 0!important;
  		width: 100%!important;
  		max-width: none!important;
  		margin: 0!important;
  		height: 100%;
  		box-shadow: none!important;
  		border-radius: 0;
  		text-align: center;
  		transform: none!important;
  		-webkit-transform: none!important;
  		z-index: 999;
  	}
  	
  	.cr_image_with_hotspots .cr_hotspot_wrap .nttip .inside {
  		transform: translateY(-50%) translateX(-50%) scale(0.8);
  		-webkit-transform: translateY(-50%) translateX(-50%) scale(0.8);
  		-webkit-transition: all 0.2s ease-in-out!important;
  		transition: all 0.2s ease-in-out!important;
  		top: 50%;
  		left: 50%;
  		position: absolute;
  		width: 60%;
  		text-align: center;
  	}

  	.cr_image_with_hotspots .cr_hotspot_wrap .nttip.open .inside {
  		transform: translateY(-50%) translateX(-50%) scale(1);
  		-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
  	}

  	.cr_image_with_hotspots .cr_hotspot_wrap .nttip.open { pointer-events: auto!important; }

  	.cr_image_with_hotspots .cr_hotspot_wrap .nttip .tipclose {
  		position: absolute;
  		top: -50px;
  		left: 50%;
  		margin-left: -11px;
  		height: 22px;
  		width: 22px;
  		line-height: 22px;
  		border: 2px solid #000;
  		border-radius: 100px;
  	}

  	.cr_image_with_hotspots .cr_hotspot_wrap .nttip .tipclose span {
  		transform: rotate(45deg);
  		-webkit-transform: rotate(45deg);
  		display: block;
  		height: 18px;
  		width: 18px;
  		transform-origin: center;
  	}
  	.cr_image_with_hotspots .cr_hotspot_wrap .nttip .tipclose span:before {
  		position: absolute;
	    display: block;
	    height: 2px;
	    width: 10px;
	    left: 4px;
	    top: 8px;
	    content: ' ';
  	}
  	.cr_image_with_hotspots .cr_hotspot_wrap .nttip .tipclose span:after {
  		position: absolute;
	    display: block;
	    height: 10px;
	    width: 2px;
	    left: 8px;
	    top: 4px;
	    content: ' ';
  	}
	*/
	body .cr_image_with_hotspots .cr_hotspot_wrap .nttip {
		display: none;
	}
	.render_mobile_fallback {
		display: block;
	}
}
@media screen and (max-width: 736px){

	.vc_separator h4 {
		white-space:inherit !important;
		text-align:center;
		width: 100%;
	}
	.vc_separator .vc_sep_holder {
		display: none !important;
	}
	.vc_sep_width_50 {
		width:auto !important;
	}	

	.woocommerce .quantity .minus, .woocommerce .quantity .plus {
		width:30px;
		height: 30px;
		line-height: 30px;
	}
	.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty {
		width:30px;
		line-height: 30px;
	}

	.woocommerce .quantity .qty {
		height:28px;
	}
	.woocommerce .quantity {
		margin-right:0;
		max-width:95px;
	}
	.woocommerce table.shop_table td.product-thumbnail {
		max-width:70px;
	}
	.wpb_content_element .wpb_tour_tabs_wrapper.tabs_style_5 .wpb_tabs_nav li.ui-state-active:before {
		content: initial;
	}
	#container .wpb_content_element .tabs_style_5 {
		margin-bottom:40px;
		border: 1px solid #e5eaea;
	}
	#container .wpb_tabs .tabs_style_5 .wpb_tabs_nav {
		border-bottom: none;
	}
	#container .wpb_content_element .tabs_style_5 .wpb_tabs_nav li.ui-state-active {
		background: #ffffff;
	}
	
	#container .wpb_content_element .tabs_style_5 .wpb_tabs_nav li {
		margin-right:0;		
		display: block;
		border-bottom: 1px solid #e5eaea;
	}
	#container .wpb_content_element .wpb_tour_tabs_wrapper.tabs_style_5 .wpb_tabs_nav a {
		padding:15px;
	}
	#container .wpb_content_element .tabs_style_5 .wpb_tabs_nav li a span.icon {
		font-size:20px;
		position: absolute;
		left:15px;
		padding-right: 0;
		margin-bottom:0;
		padding-left:0;
	}
	#container .wpb_content_element .tabs_style_5 .wpb_tabs_nav li a span.icon img {
		max-width: 20px;
	}
	#container .wpb_content_element .tabs_style_5 .wpb_tabs_nav li a span {
		padding-left:35px;
		text-align: left;
	}
	#container .wpb_content_element .tabs_style_5 .wpb_tab {
		padding:30px;
		background-color: #ffffff;
	}
	.tb_right #top-menu li ul, .tb_left #top-menu li ul {
	    left: 50%;
	    right: auto;
	    transform: translateX(-50%);
	    width:250px;
	}
	#top-menu li a {
		text-align: center;
	}
	
}
/* iPhone 6 Plus */
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
	.grid.fullscreen figure.cols-5, .grid.fullscreen figure.cols-4, .grid.fullscreen figure.cols-3,
	.grid figure.cols-5, .grid figure.cols-4, .grid figure.cols-3 {
		width: 48%;
		margin:5px;
		
	}
	
}
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
	.grid.fullscreen figure.cols-5, .grid.fullscreen figure.cols-4, .grid.fullscreen figure.cols-3 {
		width: 100%;
	}
	
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
	.grid.fullscreen figure.cols-5, .grid.fullscreen figure.cols-4, .grid.fullscreen figure.cols-3 {
		width:48%;
		margin:5px;
	}
	
	#content.portfolio-four .portfolio-item, #content .portfolio-4 {
		width: 195px ;
	}
	#content .portfolio-4 {
		height: 143px ;
	}
	#content .ch-info .ch-info-back4 {
		-webkit-transform: translate3d(0,0,-195px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-195px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-195px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-195px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-195px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	#content .ch-item:hover .ch-info-front4 {
		-webkit-transform: translate3d(0,195px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,195px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,195px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,195px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,195px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}
	
	#content.portfolio-three .portfolio-item, #content .portfolio-3 {
		width: 300px ;
	}
	#content .portfolio-3 {
		height: 214px ;
	}
	#content .ch-info .ch-info-back3 {
		-webkit-transform: translate3d(0,0,-300px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-300px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-300px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-300px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-300px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	#content .ch-item:hover .ch-info-front3 {
		-webkit-transform: translate3d(0,300px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,300px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,300px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,300px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,300px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}	
}
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
	.grid.fullscreen figure.cols-5, .grid.fullscreen figure.cols-4, .grid.fullscreen figure.cols-3 {
		width:310px;
		/*margin:5px;*/
	}
	.top_contact .contact_phone {
		border:none !important;
	}

	.top_contact .contact_address {
		margin-top:0;
		border: none !important;
	}
}
@media screen and (max-width: 667px){
	#container #branding .logo {
		padding-right:0;
		padding-left:0;
	}
	.grid figure.cols-3 {
		max-width: 290px;
	}
	.event-left, .event-right {
		float:none;
		width:100%;
	}
	.clients_grid.cols-2 .review, .clients_grid.cols-3 .review, .clients_grid.cols-4 .review {
		width: 100%;
		margin-right: 0;
	}
	.social_icons .share_text {
		float: none;
	}
	.error404 .post_container_full {
		position: relative;
		transform: none;
	}
	.mobile_menu_holder {
		max-height: 245px;		
	}
	.responsive_search_submit {
		top:0;
	}	
	#container .social_links_out .social_links i {
		font-size: 25px;
	    line-height: 50px;
	    height: 50px;
	    width: 50px;
	}
	.gym_class_wrap:hover {
		top: 0;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-o-box-shadow: none;
	}
	.gym_class_description {
		display: block !important;
	}

}
@media screen and (max-width: 640px){
	/*
	.menu {
		max-width:500px;
	}
	*/
	.nav-top {
		margin-bottom:30px;
		max-width:100%;
		margin:0 auto;
	}
	.table{
		width:100%;
	}	
	
	.main-navigation {
		border:0;
		background:none;
		}
	.main-navigation #navigation{text-align:center;border:none;}
	#navigation {
		width: 100%;
	}
	#navigation ul{float:none;display:inline-block;}
	#navigation ul ul{display:none;}
	.js #navigation > ul{display:none !important;}
	.js #navigation select{display:inline-block !important;max-width:none;border:none;padding:7px 15px;margin-top:10px;width:100%;color: #fff;
		background: #222;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4); font-size: 12px;
		-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
		-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset , 0 1px 1px rgba(255, 255, 255, 0.9);
	}
	.bellow_header_title {
		text-align:center;
	}
	
	.page-title {
		float:none;		
		text-align:center;
		margin-top:10px;
		width:auto;
		
	}
	.page-title ul {
		float:none;
	}
	.social_icons {
		text-align:center;
		padding:20px 0;
		border:none;
	}
	.get_social {
		float:none !important;
		margin:0 auto;
	}
	
	.social_ic_margin{
		margin:10px 0 2px 0; 
	}
	.left-atts {
		float:none;

	}
	.right-atts {
		float:none;
		margin-top:10px;
		font-weight:bold; font-size:16px;
	}
	.blogpost h2 {

	}
	.clear-responsive{
		margin:10px 0; height:1px; clear:both;
	}
	.post_container .recent_posts_container article.col.extra-width:nth-child(3n+1), .post_container_full .recent_posts_container article.col.extra-width-full:nth-child(3n+1), .post_container_full .recent_posts_container article.col.extra-width-full:nth-child(5n+1), .portfolio-related .recent_posts_container article.col.extra-width-full-port:nth-child(5n+1), .portfolio-related .recent_posts_container article.col.extra-width-full-port:nth-child(3n+1) {
		clear:none;
	}
	.post_container .recent_posts_container article.col.extra-width:nth-child(2n+1), .post_container_full .recent_posts_container article.col.extra-width-full:nth-child(2n+1), .portfolio-related .recent_posts_container article.col.extra-width-full-port:nth-child(2n+1) {
		clear: both;
	}
	.col{
		width:45% !important;
		margin-right:2%;
		border-right:none;
	}
	.recent_posts_container article.col.extra-width:nth-child(4n) {
		clear: none;
	}
	
	.s1_2, .s1_3, .s2_3, .s3_4, .s1_4, .s1_5, .s2_5, .s3_5, .s4_5 {
		float:none;
		width:97%;
	}
	.contact-form input[type="text"]{
		width:90%;
	}
	.qbox_title1,.qbox_title2 {
		float:none;
	}
	.qbox_title1 {
		width:auto;
		text-align:center;
		padding-bottom:20px;
		border-bottom:1px solid #e5e2e2;
		margin-bottom:20px;
	}
	.qbox_title2 {
		width:auto;
		text-align:center;
		border:none;
		padding-left:0;
	}
	#branding {
		padding-bottom:0;
	}
	.main-navigation {
		margin-top:0;
	}
	
	.page-title .breadcrumb {
		margin-right:0;
		float:none;
	}
	.breadcrumb_search_form {
		position: relative;
		right:auto;
		top:auto;
		margin: 20px auto 0;
		transform: none;
		-webkit-transform: none;
	}
	
	.products .product, 
	.no_sidebar .products .product, .woocommerce[class*="columns"] .products .product {
		width: 47%;
		margin:0 5% 5% 0;
		float: left;
		clear:both;		
		
	}
	.woocommerce-result-count {
		float: none;
		width: 100%;
	}
	.woocommerce .post_container select {
		width: 100%;
		margin-top:20px;
	}

	.products .product:nth-child(2n),
	.woocommerce[class*="columns"] .products .product:nth-child(2n) {
		float: right;
		margin-right:0;
		clear: none;
	}

	.products .product, .no_sidebar .products .product, .woocommerce[class*="columns"] .products .product {
		float: none;
		width: 100%;
	}

	.woocommerce #payment #place_order {
		width:100%;
	}	
}

@media screen and (max-width: 600px){
	.div_bar {
		display:none;
	}
	.front_widget{
		width:100%; border-right:none; padding:0; margin:10px 0; padding-bottom:20px; border-bottom:1px dotted #ccc;
	}
	.vc_front_widget{
		margin-bottom:20px;
	}
	.portfolio-one .portfolio-item {
		width:400px;
	}
	.full .gallery_zoom {
		width:400px;
		height:201px;
	}
	.full .image_show {
		width:400px;
		height:201px;
		
	}
	.full .image_show img {
		width:400px;
		height:auto;
	}
	.portfolio-1 {
		width: 400px ;
		height: 201px ;
	}
	.portfolio-1 h3 {
		min-height: 90px ;
	}
	
	.ch-info .ch-info-back1 {
		-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	.ch-item:hover .ch-info-front1 {
		-webkit-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}
	
	.grid figure.cols-2 {
		width:47% !important;
	}
	
	.last{
		border-bottom:none;
	}
	.footer_widget_content{
		width:97%
	}

	.comment-form #respond{
		margin-left: 0px;
	}	
	.posts_slider_item:before {
		content: initial;
	}

	.posts_slider_content {
		padding: 20px;
		transform: none;
		position: relative;
		left: auto;
		background-color: #222222;
	}
	.posts_slider_wrap .flex-direction-nav a {
		width:40px;
	}
	.posts_slider_content h2 {
		font-size:25px;
	}
	.posts_slider_excerpt {
		font-size:13px;
	}
	.flex-direction-nav .flex-next {
		right:-10px;		
	}
	.flex-direction-nav .flex-prev {
		left:-10px;		
	}
	#container .wpcf7 {
		width: 100%;
	}
	#container .wpcf7 .wpcf7-submit {
		position:relative;
		width:100%;
		text-align: center;
	}
	
}

/* Make all grid-sized elements block level again */
@media (max-width: 480px) {
  .vc_responsive div.vc_row-fluid div[class*="vc_span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }
	.grid figure.cols-5, .grid figure.cols-4, .grid figure.cols-3, .grid figure.cols-2 {
		width:240px !important;
		margin:6px 0 20px 0;
	}
  .grid.fullscreen figure.cols-5 {
		width: 240px;
		margin-bottom:20px;
	}
	/*
	figure .effect-overlay {
		display:none;
	}
	*/
	figure.effect-zoe:hover img, figure.effect-zoe:focus img {
		transform: none;                                   
	}
	.grid figure figcaption, .grid figure figcaption > a {
		position:relative;
	}
	figure.effect-zoe:hover figcaption, figure.effect-zoe:focus figcaption {
		transform:none;
	}
	figure.effect-zoe figcaption {
		transform: none;
		-webkit-transform: none;
	}
	.portfolio-tabs li {
		width:100%;
		text-align:center;
	}
	.portfolio-tabs li a {
		padding: 0 5px;
	}
	.countdown-ul li {
		width:50% !important;
		margin: 0 0 -1px -1px !important;
	}
	.footer_widget_content, .footer_columns_cols_3 .footer_widget_content, .footer_columns_cols_2 .footer_widget_content, .footer_columns_cols_4 .footer_widget_content {
		width:100%;
		float: none;
		margin-right:0;
		margin-bottom: 50px;
	}

	.woocommerce table.cart td.actions {
		text-align: left;
	}

	.woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2 {
		width:100%;
		float: none;
	}

	.footer .instagram-pics li,.footer .instagram-pics.instagram-size-small li {
		width:33.33%;
		max-width:none;
	}	

	.thumbs_prev_post, .thumbs_next_post {
		float: none;
		width:100%;
	} 
	.thumbs_prev_post {
		margin-bottom:40px;
	}
}

@media screen and (max-width: 470px){	

	.copyright, .footer_branding{
		width:210px;
	}
	
	.portfolio-tabs.portfolio-templates li {
		width: 33%;
	}
	
	.post_container .blogpost_small_pic, .post_container .blogpost_small_desc {
		width:100%;
		float:none;
	}

	.post_container .blogpost_small_pic {
		margin-bottom:20px;
	}
	.small_read_more {
		padding-bottom:0;
	}	 
	
	.blogpost_small_desc h2 {
		padding:15px 0;
	}
	
	.author-avatar{
		float: none;
		width: 100%;
	}
	.box .author-avatar img{
		float: none;
		margin: 0 auto;
	}
	.author-page-desc,
	.author-info .author-page-desc{
		margin: 15px 0px 0px 0px;
	}
	.author-page-desc h4,
	.author-page-desc h1{
		text-align: center;
	}
	.portfolio-wrapper{
		width:240px;
		margin:10px auto;
	}
	.page-template-portfolio-one-column .portfolio-wrapper,
	.tax-portfolio_category .portfolio-wrapper {
		width:100%;
	}
	.portfolio-one .portfolio-item, .full .image_show, .portfolio-1, .full .image_show img, #content.portfolio-two .portfolio-item, .portfolio-2 {
		width:220px;
	}
	
	.portfolio-1, .full .image_show {
		height:111px;
	}
	#content .portfolio-2{
		height:141px;
		width:220px;
	}
	
	.portfolio-1 h3, .portfolio-2 h3, .portfolio-3 h3 {
		font-size:16px;
		min-height:20px;
		line-height:normal;
	}
	.portfolio-3 h3 {
		min-height:50px;
	}
	.portfolio-1 .portfolio_tags, .portfolio-2 .portfolio_tags, .portfolio-3 .portfolio_tags {
		font-size:12px;
	}
	#content .portfolio-3, #content.portfolio-three .portfolio-item {
		width:235px;		
	}
	#content .portfolio-3, #content .portfolio-3 img {
		width: 235px;
		height:168px;
	}
	.product .images {
		width:100%;
		float: none;
		margin-bottom:30px;
	}
	.product .summary {
		width:100%;
		float: none;
	}
	
	#content.portfolio-two .portfolio-item, #content .portfolio-2 {
		width: 220px ;
	}
	#content .portfolio-2 {
		height: 141px ;
	}
	#content .ch-info .ch-info-back2 {
		-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
		opacity: 0;
	}
	#content .ch-item:hover .ch-info-front2 {
		-webkit-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		-moz-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		-o-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		-ms-transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		transform: translate3d(0,220px,0) rotate3d(1,0,0,-90deg);
		opacity: 0;
	}
	.cr_adv_tables.columns_5 .col_content,
	.cr_adv_tables.columns_4 .col_content,
	.cr_adv_tables.columns_3 .col_content {
		width: 100%;
		float: none;
	}
	.reading-box .cta_inside {
		text-align: center;
	}
	.reading-box .cta_text, .reading-box .cta_button {
		display: block;
	}
	.reading-box .cta_text {
		padding-right: 0;
		padding-bottom:30px;
	}

	#respond .comment_column {
		width: 100%;
		display: block;
	}
}
@media screen and (max-width: 440px){
	.products .product, .woocommerce.columns-4 .products .product, .woocommerce.columns-2 .products .product, .woocommerce.columns-6 .products .product, .woocommerce.columns-5 .products .product {
		width:100%;
		float: none;
		margin-right:0;
		margin-bottom:10%;
	}
	.products .product:nth-child(2n) {
		float: none;
	}
	.woocommerce-MyAccount-navigation ul {
		border-bottom: none;
	}
	.woocommerce-MyAccount-navigation ul li {
		display: block;
		margin:0;
	}
	.woocommerce-MyAccount-navigation ul li a {
		padding-left:20px;
		border-bottom: 1px solid #eee;
	}
	.woocommerce-MyAccount-navigation ul li a:before {
		width: 3px;
		height: 100%;
		bottom:0;
		left:0;
	}


	.portfolio-modern .portfolio-misc-info {
		padding:10px;
	}
	.portfolio-modern .project-info-details {
		display: block;
		margin-bottom: 15px;
		text-align: center;
		margin-right:0;
	}
	.portfolio-modern .portfolio-misc-info h3 {
		margin-bottom: 0;
		display: inline-block;		
	}
	.portfolio-modern .portfolio-misc-info h3:after {
		content:":";
	}
	.portfolio-modern .posts-boxes {
		padding: 30px;
	}
	.portfolio-modern .related_posts_title {
		margin-bottom: 10px;
		text-align: center;
	}

	.portfolio-modern .portfolio-navigation {
		margin: 0;
	}

	.share_posts_wrap {
		position: relative;
		transform: none;
		-webkit-transform: none;
		left:auto;
	}

	.share_posts_wrap .social_icons {
		padding-bottom:0;
	}
	.design_modern .review {
		padding: 10px;
	}
	.mobile_menu_holder {
		max-height: 475px;		
	}

}

@media screen and (max-width: 420px){
	.portfolio-one .portfolio-item {
		width:220px;
	}
	.full .gallery_zoom {
		width:300px;
		height:151px;
	}
	.full .image_show {
		width:220px;
		height:111px;
	}
	.full .image_show img {
		width:300px;
		height:auto;
	}
	.full .title {
		font-size:16px;
	}

	.author-bio{
		margin-left: 0px;
	}
	.col, .event_calendar_wrap .col.columns-4, .event_calendar_wrap .col.columns-3, .event_calendar_wrap .col.columns-2,
	.event_calendar_wrap .col.columns-4:nth-child(4n),
	.event_calendar_wrap .col.columns-3:nth-child(3n),
	.event_calendar_wrap .col.columns-2:nth-child(2n){
		width:240px !important;
		margin:10px auto;
		float:none;
	}
	.clear-responsive{
		margin:0;
	}
	.blogpost.grid_posts.columns-5, .blogpost.grid_posts.columns-4, .blogpost.grid_posts.columns-3, .blogpost.grid_posts.columns-2 {
		width: 271px;
		margin:10px auto 30px;
		float: none;
		padding-bottom:10px;
	}
	.blogpost.grid_posts.columns-5:nth-child(3n), .blogpost.grid_posts.columns-4:nth-child(3n),
	.blogpost.grid_posts.columns-5:nth-child(5n), .blogpost.grid_posts.columns-4:nth-child(4n), .blogpost.grid_posts.columns-3:nth-child(3n), .blogpost.grid_posts.columns-2:nth-child(2n) {
		margin-right: auto;
	}

	.woocommerce .quantity {
		max-width: none;
		width: auto;
	}
	.woocommerce .quantity .minus, .woocommerce .quantity .plus {
		display: none;
	}

	.woocommerce table.shop_table th.product-quantity .mobile {
		display:block;
	}
	.woocommerce table.shop_table th.product-quantity .desktop {
		display:none;
	}

	.woocommerce table.shop_table th {		
		padding:7px 10px;
	}

	.woocommerce table.shop_table th.product-remove {
		padding:0;
	}

	.woocommerce table.cart td.actions .coupon {
		float: none;
		position:relative;
		margin-bottom:20px;
	}

	.woocommerce table.cart td.actions .coupon input[type=text] {
		width:100%;		
	}

	.woocommerce table.cart td.actions .coupon input[type=submit].button{
		margin: 0;
		position: absolute;
		right: 0;
	}

	.woocommerce table.shop_table th.product-price, .woocommerce table.shop_table td.product-price {
		display: none;
	}

	.woocommerce table.cart td.actions input[type=submit].button.small {
		width: 100%;
		text-align: center;
		margin: 0;
	}

	.woocommerce .quantity input.qty, .woocommerce-page .quantity input.qty {
		border-left:1px solid #e1e1e1;
		border-right:1px solid #e1e1e1;
	}

	.cart-collaterals .alignright {
		float: none;
	}
	.cart-collaterals .checkout-button {
		width: 100%;
		text-align: center;
	}
		

}
@media screen and (max-width: 370px){
	.product .images {
		width:100%;
	}
	.portfolio-modern .posts-boxes {
		padding:0;
	}	
}
/*
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	.portfolio-one .portfolio-item {
		width:300px;
	}
	.full .gallery_zoom {
		width:300px;
		height:201px;
	}
	.full .image_show {
		width:300px;
		height:201px;
	}
	.full .image_show img {
		width:300px;
		height:auto;
	}

}*/