/* nectar library */
.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-list-bar-item-actions button:nth-child(2) {
    display: none;
}
.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list {
    padding: 20px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template {
    padding: 20px;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
}
@media only screen and (min-width: 1825px) {
    .vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template {
        width: 33.1%;
    }
}
@media only screen and (max-width: 1825px) {
.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template {
    width: 49.6%;
}
}

.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template .img-wrap {
    line-height: 0;
    border-bottom: 1px solid rgba(0,0,0,0.07);
}
.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template .img-wrap img {
    width: 100%;
    height: auto;
}
.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template .vc_ui-list-bar-item {
    display: block!important;
    flex-wrap: initial;
    -webkit-box-pack: initial;
    align-items: initial;
    flex-direction: initial;
    -webkit-box-align: initial;
    -webkit-box-direction: initial;
    justify-content: initial;
    text-align: center;
    background-color: #fff;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    overflow: hidden;    
    height: 100%;
    border:5px solid transparent;
}

.vc_ui-list-bar-item-actions {
    position: relative;
}
.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-list-bar-item-actions .vc_general.vc_ui-control-button {
    position: absolute;
    display: none!important;
    bottom: 5px;
    left: 50%;
    margin-left: -13px;
}
[data-vc-template-search=true] .vc_edit-form-tab:not(.vc_active) {
    display: none!important;
}
body [data-vc-template-search=true] .vc_edit-form-tab.vc-search-result-empty.vc_active {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list .display_cat {
    margin-top: 35px;
    font-size: 14px;
    opacity: 0.7;
}

.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template.hidden {
    display: none!important;
}

.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template .vc_ui-list-bar-item:hover {    
    backface-visibility: hidden;
    border-color: #d6e6fd;
}

.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template .vc_ui-list-bar-item > button {
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template .vc_ui-list-bar-item:hover > button {
    color: #51a9e1;
}
/*
.vc_edit-form-tab[data-tab="default_templates"] .vc_ui-template-list > .vc_ui-template .vc_ui-list-bar-item {
    
}
*/
.vc_edit-form-tab[data-tab="default_templates"]  .vc_ui-template-list .vc_ui-list-bar-item-trigger {
    font-weight: 500;
    font-size: 16px;
    white-space: initial;
    padding: 20px 0 10px 0;
    text-overflow: initial;
    max-width: 75%!important;
    text-align: center;
    line-height: 32px;
}

.vc_edit-form-tab[data-tab="default_templates"] > .vc_col-md-12 { display: none;}

.vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column  {
    padding-left: 235px;
    background-color: #f1f1f1;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.vc_templates-panel.vc_active .vc_edit-form-tab[data-tab="default_templates"].vc_active > .template_categ {
    visibility: visible;
}

.vc_edit-form-tab[data-tab="default_templates"] > .template_categ {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100;
    padding: 0;
    box-sizing: border-box;
    background-color: #3e4b5c;
    width: 235px;
    overflow-y:scroll;
}

.vc_edit-form-tab[data-tab="default_templates"] > .template_categ::-webkit-scrollbar-track,
.vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12::-webkit-scrollbar-track
{
   /* -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);*/
    background-color: #ffffff;
}

.vc_edit-form-tab[data-tab="default_templates"] > .template_categ::-webkit-scrollbar,
.vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12::-webkit-scrollbar
{
    width: 8px;
    background-color: #F5F5F5;
}

.vc_edit-form-tab[data-tab="default_templates"] > .template_categ::-webkit-scrollbar-thumb,
.vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12::-webkit-scrollbar-thumb
{
    background-color: #2b3643;
    border: 1px solid #444444;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.vc_edit-form-tab[data-tab="default_templates"] { padding-top: 0; margin-top: -18px; margin-left: 0; margin-right: -17px; margin-bottom: -18px;}

.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li {
    cursor: pointer;
    color: #b4bcc8;
    position: relative ;
    padding: 9px 20px;
    border-bottom: 1px solid #4c5c70;
    margin-bottom:0;
    font-size:13px;
}
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(2),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(3),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(4),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(5),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(6),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(7),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(8),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(9),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(10),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(11),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(12),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(13),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(14),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(15) {
    background-color:#3dac6f;
    color:#ffffff;
    border-bottom-color:#2e9c60;
}
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(2):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(3):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(4):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(5):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(6):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(7):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(8):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(9):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(10):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(11):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(12):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(13):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(14):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(15):hover,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(2),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(3),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(4),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(5),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(6),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(7),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(8),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(9),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(10),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(11),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(12),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(13),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(14),
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(15)
 {
    background-color: #3a875c;
}

.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(2) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(3) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(4) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(5) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(6) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(7) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(8) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(9) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(10) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(11) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(12) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(13) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(14) span,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:nth-child(15) span
 {
    background-color: #3a875c;
    color:#ffffff;
}

.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(2) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(2):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(3) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(3):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(4) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(4):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(5) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(5):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(6) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(6):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(7) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(7):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(8) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(8):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(9) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(9):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(10) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(10):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(11) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(11):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(12) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(12):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(13) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(13):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(14) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(14):hover .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active:nth-child(15) .counter, .vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):nth-child(15):hover .counter {
    background-color: #3dac6f;
}

.vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column {
    min-height: 0;
}

@media only screen and (min-height: 610px) {
    
    .vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column {
        min-height: 415px;
    }
}
@media only screen and (min-height: 655px) {
    
    .vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column {
        min-height: 455px;
    }
}
@media only screen and (min-height: 750px) {
    
    .vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column {
        min-height: 493px;
        max-height: 68vh;
    }
}
@media only screen and (min-height: 810px) {
    
    .vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column {
        min-height: 520px;
        max-height: 70vh;
    }
}
@media only screen and (min-height: 900px) {
    
    .vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column {
        min-height: 555px;
        max-height: 72vh;
    }
}
@media only screen and (min-height: 1000px) {    
    .vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12, .vc_edit-form-tab[data-tab="default_templates"] > .vc_column {
        min-height: 800px;
        max-height: 74vh;
    }
}
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li span {
    position: absolute;
    right: 20px;
    padding: 4px 6px;
    font-size: 11px;
    line-height: 11px;
    background-color: #4c5c70;
    color:#b4bcc8;
}
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active {    
    color: #ffffff;
    background-color: #4c5c70;
}
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li.active .counter,
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):hover .counter {
    color: #fff;
    background-color: #3e4b5c;
}
.vc_edit-form-tab[data-tab="default_templates"] > .template_categ li:not(.active):hover {
    color: #ffffff;
    background-color: #4c5c70;
}

.vc_edit-form-tab[data-tab="default_templates"] > .vc_col-sm-12.nectar-disable-hover * {
  pointer-events: none !important;
}

.wp-picker-input-wrap label {
float: left !important;
margin-top: 0 !important;
}
.wp-picker-input-wrap .screen-reader-text {
display: none !important;
}
.wp-picker-open .wp-color-result-text {
display: none !important;
}